/*layout styles*/
.tab_content {
  position: absolute;
  top:20px;
  width: 580px;
  height: 220px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid red;
}

#tab1, #tab2, #tab3, #tab4, #tab5,{
  &:target{
    z-index: 1;
  }
}