html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

a{
  color: red;
  &:hover{
  color: black;
  }
}

ol, ul {
  list-style: none;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
  clear: both;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 500px;
  background-color: #ededed;
  position: relative;
}

#wrapper{
  margin: 0 auto;
  padding: 40px 0;
  height: auto;
  width: 100%;
}
#container{
  margin: 0 auto;
  min-width: 640px;
  height: auto;

}

.demo{
  position: relative;
  width: 622px;
  margin: 40px auto;
  height: 300px;
}

footer{
  position: absolute;
  bottom:0;
  background-color: #e2e2e2;
  width: 100%;
  height: 62px;
  text-align: center;
  h2{
    padding: 1em;
  }
  a{
    &:link{
    text-decoration: none
    }
    &:hover{
    color: #cf0d0d;
    }
  }
}

// Fonts starts here
h1, h2, h3, h4, h5, h6, a{
  font-family:"Lato",Serif;
  font-weight: 100;
}
h1{
  font-size: 32px;
  color: #E6280F;
  line-height: 1.2;
  letter-spacing: 1.1px;
  text-align: center;
}
h2{
  font-size: 18px;
  color: #E6280F;
  line-height: 1.3;
}

h3{
  font-size: 16px;
  line-height: 1.2;
}
// Fonts ends here

.demo a{
  text-decoration: none;
  padding: 0.25em 1em;
  background-color: #E6280F;
  font-size: 16px;
  color: #ffffff;
  font-weight: 100;
  &:hover{
    color: #646464;
    -webkit-transition: all .55s;
       -moz-transition: all .55s;
        -ms-transition: all .55s;
         -o-transition: all .55s;
            transition: all .55s;
  }
}

li{
  display: inline;
  margin: 0;
}