/* line 1, ../sass/screen.sass */
.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

/* line 4, ../sass/screen.sass */
span {
  margin-right: 8px;
}

/* line 7, ../sass/screen.sass */
.span-button {
  margin-right: 0;
}

/* line 9, ../sass/screen.sass */
.input-group {
  margin-bottom: 10px;
}

/* line 12, ../sass/screen.sass */
.jumbotron {
  background-image: url(../images/hero.jpg);
}
/* line 14, ../sass/screen.sass */
.jumbotron p, .jumbotron h1 {
  color: white;
}
