/* line 17, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_general.sass */
section {
  width: 100%;
  clear: both;
}
/* line 7, ../sass/_general.sass */
section h1:first-child {
  width: 200px;
  margin: 3em auto 0 auto;
}

/* line 10, ../sass/_general.sass */
.main {
  max-width: 60em;
  margin: 0 auto;
}

/* line 14, ../sass/_general.sass */
.color li {
  display: inline-block;
  width: 5em;
  height: 5em;
  margin-left: -4px;
}

/* line 41, ../sass/_color.sass */
.primary-color-1 {
  background-color: #ffeba4;
}

/* line 43, ../sass/_color.sass */
.primary-color-2 {
  background-color: #ffda58;
}

/* line 45, ../sass/_color.sass */
.primary-color-3 {
  background-color: #ffc90b;
}

/* line 47, ../sass/_color.sass */
.primary-color-4 {
  background-color: #be9400;
}

/* line 49, ../sass/_color.sass */
.primary-color-5 {
  background-color: #715800;
}

/* line 55, ../sass/_color.sass */
.secondary-color-1 {
  background-color: #b1b1b1;
}

/* line 57, ../sass/_color.sass */
.secondary-color-2 {
  background-color: #8a8a8a;
}

/* line 59, ../sass/_color.sass */
.secondary-color-3 {
  background-color: #646464;
}

/* line 61, ../sass/_color.sass */
.secondary-color-4 {
  background-color: #3e3e3e;
}

/* line 63, ../sass/_color.sass */
.secondary-color-5 {
  background-color: #181818;
}

/* line 68, ../sass/_color.sass */
.helper-color-1 {
  background-color: #7eb0db;
}

/* line 70, ../sass/_color.sass */
.helper-color-2 {
  background-color: #428bca;
}

/* line 72, ../sass/_color.sass */
.helper-color-3 {
  background-color: #2a6496;
}

/* line 74, ../sass/_color.sass */
.helper-color-4 {
  background-color: #193c5a;
}

/* line 76, ../sass/_color.sass */
.helper-color-5 {
  background-color: #09141e;
}

/* line 82, ../sass/_color.sass */
.danger-color-1 {
  background-color: #f3423f;
}

/* line 84, ../sass/_color.sass */
.danger-color-2 {
  background-color: #d8110e;
}

/* line 86, ../sass/_color.sass */
.danger-color-3 {
  background-color: #900b09;
}

/* line 88, ../sass/_color.sass */
.danger-color-4 {
  background-color: #480504;
}

/* line 90, ../sass/_color.sass */
.danger-color-5 {
  background-color: black;
}

/* line 5, ../sass/_font.sass */
h1, h2, p {
  font-family: helvetica, sans-serif;
}

/* line 7, ../sass/_font.sass */
h3, .hint-information, .hint-danger {
  font-family: didot, serif;
}

/* line 22, ../sass/_font.sass */
h1 {
  color: #545454;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 700;
  letter-spacing: 1px;
}

/* line 25, ../sass/_font.sass */
h2 {
  color: black;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 500;
  letter-spacing: 1px;
}

/* line 28, ../sass/_font.sass */
h3, .hint-information, .hint-danger {
  color: black;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 500;
  letter-spacing: 1px;
}

/* line 31, ../sass/_font.sass */
p {
  color: black;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 300;
  letter-spacing: 1px;
}

/* line 46, ../sass/_font.sass */
.hint-information {
  color: #428bca;
  border: 1px solid #428bca;
  width: 100%;
  heighy: auto;
  padding: 1em;
  margin: 1em auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 57, ../sass/_font.sass */
.hint-danger {
  color: #d8110e;
  border: 1px solid #d8110e;
  width: 100%;
  heighy: auto;
  padding: 1em;
  margin: 1em auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 18, ../sass/_button.sass */
.primary {
  color: #67b04f;
  border: 1px solid #67b04f;
}

/* line 21, ../sass/_button.sass */
.secondary {
  color: #85c072;
  border: 1px solid #85c072;
}

/* line 24, ../sass/_button.sass */
.danger {
  color: #a4d095;
  border: 1px solid #a4d095;
}

/* line 27, ../sass/_button.sass */
.cancel {
  color: #c2dfb9;
  border: 1px solid #c2dfb9;
}

/* line 30, ../sass/_button.sass */
.disable {
  color: #e1efdc;
  border: 1px solid #e1efdc;
  cursor: not-allowed;
}

/* line 37, ../sass/_button.sass */
.primary, .secondary, .danger, .cancel, .disable {
  width: auto;
  display: inline-block;
  padding: 0.4em 1em;
  background-color: white;
  font-size: 1em;
}

/* line 45, ../sass/_button.sass */
.round {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 2, ../sass/_form.sass */
input {
  display: block;
  margin: 2em 0;
}

/* line 6, ../sass/_form.sass */
fieldset {
  font-size: 1.2em;
  border: 1px solid #545454;
  color: #545454;
  padding: 1em;
}

/* line 12, ../sass/_form.sass */
input[type=checkbox] {
  display: none;
}

/* line 15, ../sass/_form.sass */
input[type=checkbox] + label {
  display: inline-block;
  background-color: #db574d;
  color: white;
  font-size: 0.75em;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  position: relative;
  text-transform: uppercase;
  width: 80px;
}

/* line 27, ../sass/_form.sass */
input[type=checkbox] + label,
input[type=checkbox] + label i {
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}

/* line 31, ../sass/_form.sass */
input[type=checkbox]:checked + label {
  background-color: #67b04f;
}

/* line 34, ../sass/_form.sass */
input[type=checkbox] + label:before,
input[type=checkbox] + label:after,
input[type=checkbox] + label i {
  width: 50%;
  display: inline-block;
  height: 100%;
  text-align: center;
}

/* line 42, ../sass/_form.sass */
input[type=checkbox] + label:before {
  content: attr(data-text-true);
}

/* line 45, ../sass/_form.sass */
input[type=checkbox] + label:after {
  content: attr(data-text-false);
}

/* line 48, ../sass/_form.sass */
input[type=checkbox] + label i {
  top: 10%;
  background-color: white;
  height: 80%;
  left: 5%;
  position: absolute;
  width: 45%;
}

/* line 56, ../sass/_form.sass */
input[type=checkbox]:checked + label i {
  left: 50%;
}
