/* line 17, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_general.sass */
section {
  width: 94%;
  clear: both;
  padding: 0 3%;
  padding-bottom: 4em;
}
/* line 7, ../sass/_general.sass */
section h1:first-child {
  width: 200px;
  margin: 1em auto 0 auto;
  text-align: center;
}

/* line 11, ../sass/_general.sass */
.main {
  max-width: 60em;
  margin: 0 auto;
}

/* line 17, ../sass/_general.sass */
.color li {
  display: inline-block;
  width: 10%;
  height: 5em;
  margin-left: -4px;
  text-align: center;
  padding: 1.5em 1em;
}

/* line 25, ../sass/_general.sass */
.button ul {
  display: inline-block;
  width: 45%;
}
/* line 28, ../sass/_general.sass */
.button ul li {
  display: inline-block;
}

/* line 49, ../sass/_color.sass */
.primary-color-1 {
  background-color: #ffeba4;
  color: #d7a700;
}

/* line 52, ../sass/_color.sass */
.primary-color-2 {
  background-color: #ffda58;
  color: #be9400;
}

/* line 55, ../sass/_color.sass */
.primary-color-3 {
  background-color: #ffc90b;
  color: #715800;
}

/* line 58, ../sass/_color.sass */
.primary-color-4 {
  background-color: #be9400;
  color: #fff6d7;
}

/* line 61, ../sass/_color.sass */
.primary-color-5 {
  background-color: #715800;
  color: white;
}

/* line 68, ../sass/_color.sass */
.secondary-color-1 {
  background-color: #b1b1b1;
  color: #4b4b4b;
}

/* line 71, ../sass/_color.sass */
.secondary-color-2 {
  background-color: #8a8a8a;
  color: #3e3e3e;
}

/* line 74, ../sass/_color.sass */
.secondary-color-3 {
  background-color: #646464;
  color: #181818;
}

/* line 77, ../sass/_color.sass */
.secondary-color-4 {
  background-color: #3e3e3e;
  color: #cacaca;
}

/* line 80, ../sass/_color.sass */
.secondary-color-5 {
  background-color: #181818;
  color: #fdfdfd;
}

/* line 86, ../sass/_color.sass */
.helper-color-1 {
  background-color: #7eb0db;
  color: #1f496e;
}

/* line 89, ../sass/_color.sass */
.helper-color-2 {
  background-color: #428bca;
  color: #193c5a;
}

/* line 92, ../sass/_color.sass */
.helper-color-3 {
  background-color: #2a6496;
  color: #09141e;
}

/* line 95, ../sass/_color.sass */
.helper-color-4 {
  background-color: #193c5a;
  color: #a6c8e6;
}

/* line 98, ../sass/_color.sass */
.helper-color-5 {
  background-color: #09141e;
  color: #f6f9fc;
}

/* line 106, ../sass/_color.sass */
.danger-color-1 {
  background-color: #f3423f;
  color: #600706;
}

/* line 109, ../sass/_color.sass */
.danger-color-2 {
  background-color: #d8110e;
  color: #480504;
}

/* line 112, ../sass/_color.sass */
.danger-color-3 {
  background-color: #900b09;
  color: black;
}

/* line 115, ../sass/_color.sass */
.danger-color-4 {
  background-color: #480504;
  color: #f6716f;
}

/* line 118, ../sass/_color.sass */
.danger-color-5 {
  background-color: black;
  color: #fcd0cf;
}

/* line 123, ../sass/_color.sass */
.default-color-1 {
  background-color: #cecece;
  color: dimgrey;
}

/* line 126, ../sass/_color.sass */
.default-color-2 {
  background-color: #a8a8a8;
  color: #5c5c5c;
}

/* line 129, ../sass/_color.sass */
.default-color-3 {
  background-color: #828282;
  color: #353535;
}

/* line 132, ../sass/_color.sass */
.default-color-4 {
  background-color: #5c5c5c;
  color: #e8e8e8;
}

/* line 135, ../sass/_color.sass */
.default-color-5 {
  background-color: #353535;
  color: white;
}

/* line 5, ../sass/_font.sass */
h1, h2, p, .primary-line, .secondary-line, .helper-line, .danger-line, .disable-line, .primary-flat, .secondary-flat, .helper-flat, .danger-flat, .disable-flat {
  font-family: helvetica, sans-serif;
}

/* line 7, ../sass/_font.sass */
h3, .hint-information, .hint-danger {
  font-family: didot, serif;
}

/* line 22, ../sass/_font.sass */
h1 {
  color: #545454;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 700;
  letter-spacing: 1px;
}

/* line 25, ../sass/_font.sass */
h2 {
  color: black;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 500;
  letter-spacing: 0;
}

/* line 28, ../sass/_font.sass */
h3, .hint-information, .hint-danger {
  color: black;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 500;
  letter-spacing: 0;
}

/* line 31, ../sass/_font.sass */
p, .primary-line, .secondary-line, .helper-line, .danger-line, .disable-line, .primary-flat, .secondary-flat, .helper-flat, .danger-flat, .disable-flat {
  color: black;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 300;
  letter-spacing: 0;
}

/* line 46, ../sass/_font.sass */
.hint-information {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #428bca;
  border: 1px solid #428bca;
  width: 100%;
  heighy: auto;
  padding: 1em;
  margin: 1em auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 60, ../sass/_font.sass */
.hint-danger {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #d8110e;
  border: 1px solid #d8110e;
  width: 100%;
  heighy: auto;
  padding: 1em;
  margin: 1em auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 12, ../sass/_button.sass */
.primary-line, .secondary-line, .helper-line, .danger-line, .disable-line {
  background-color: white;
  padding: 0.4em 1.6em;
}

/* line 16, ../sass/_button.sass */
.primary-line {
  color: #ffc90b;
  border: 1px solid #ffc90b;
}

/* line 21, ../sass/_button.sass */
.secondary-line {
  color: #3e3e3e;
  border: 1px solid #3e3e3e;
}

/* line 26, ../sass/_button.sass */
.helper-line {
  color: #193c5a;
  border: 1px solid #193c5a;
}

/* line 31, ../sass/_button.sass */
.danger-line {
  color: #d8110e;
  border: 1px solid #d8110e;
}

/* line 36, ../sass/_button.sass */
.disable-line {
  color: #828282;
  border: 1px solid #828282;
}

/* line 47, ../sass/_button.sass */
.primary-flat, .secondary-flat, .helper-flat, .danger-flat, .disable-flat {
  color: white;
  background-color: white;
  padding: 0.4em 1.6em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 54, ../sass/_button.sass */
.primary-flat {
  background-color: #ffc90b;
  border: 1px solid #ffc90b;
}

/* line 59, ../sass/_button.sass */
.secondary-flat {
  background-color: #3e3e3e;
  border: 1px solid #3e3e3e;
}

/* line 64, ../sass/_button.sass */
.helper-flat {
  background-color: #193c5a;
  border: 1px solid #193c5a;
}

/* line 69, ../sass/_button.sass */
.danger-flat {
  background-color: #d8110e;
  border: 1px solid #d8110e;
}

/* line 74, ../sass/_button.sass */
.disable-flat {
  background-color: #828282;
  border: 1px solid #828282;
}

/* line 9, ../sass/_form.sass */
input[type=checkbox] {
  display: none;
}

/* line 12, ../sass/_form.sass */
input[type=checkbox] + label {
  display: inline-block;
  background-color: #db574d;
  color: white;
  font-size: 0.75em;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  position: relative;
  text-transform: uppercase;
  width: 80px;
}

/* line 24, ../sass/_form.sass */
input[type=checkbox] + label,
input[type=checkbox] + label i {
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}

/* line 28, ../sass/_form.sass */
input[type=checkbox]:checked + label {
  background-color: #67b04f;
}

/* line 31, ../sass/_form.sass */
input[type=checkbox] + label:before,
input[type=checkbox] + label:after,
input[type=checkbox] + label i {
  width: 50%;
  display: inline-block;
  height: 100%;
  text-align: center;
}

/* line 39, ../sass/_form.sass */
input[type=checkbox] + label:before {
  content: attr(data-text-true);
}

/* line 42, ../sass/_form.sass */
input[type=checkbox] + label:after {
  content: attr(data-text-false);
}

/* line 45, ../sass/_form.sass */
input[type=checkbox] + label i {
  top: 10%;
  background-color: white;
  height: 80%;
  left: 5%;
  position: absolute;
  width: 45%;
}

/* line 53, ../sass/_form.sass */
input[type=checkbox]:checked + label i {
  left: 50%;
}

/* line 64, ../sass/_form.sass */
fieldset {
  width: 97%;
  margin: 0 1.5%;
  padding: 1.5% 1.5%;
  border: 1px solid #cecece;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #545454;
}

/* line 77, ../sass/_form.sass */
legend {
  border: 0px solid black;
}

/* line 79, ../sass/_form.sass */
input[type=date] {
  padding: 0.2em;
  color: red;
}
