/* line 17, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/course.sass */
body {
  position: relative;
  background-color: rgba(40, 40, 40, 0.1);
  color: #2c2c2c;
}

/* line 8, ../sass/course.sass */
.container {
  max-width: 940px;
  margin: 0 auto;
  height: auto;
}

/* line 14, ../sass/course.sass */
h3 {
  text-align: center;
  font-size: 1.5em;
  padding-top: 60px;
  padding-bottom: 40px;
}

/* line 19, ../sass/course.sass */
a {
  text-decoration: none;
}

/* line 21, ../sass/course.sass */
i {
  width: 24px;
}

/* line 27, ../sass/course.sass */
.hero {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-width: 100%;
  height: 628px;
  min-height: 100%;
  padding-top: 20px;
  background-image: url(../images/ippi_cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
  margin: 0 0 -4em 0;
}

/* line 42, ../sass/course.sass */
.hero-logo {
  float: left;
  width: 120px;
  height: 114px;
  background-image: url(../images/ippi_taipei.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  overflow: hidden;
}

/* line 51, ../sass/course.sass */
.hero-logo-title {
  width: 100%;
  height: 1px;
  text-indent: 9999px;
  overflow: hidden;
}

/* line 56, ../sass/course.sass */
.hero-title {
  color: white;
  float: left;
  margin: 0 0 0 20px;
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: 0.2px;
  vertical-align: baseline;
}

/* line 64, ../sass/course.sass */
.social {
  float: right;
  width: 120px;
}
/* line 67, ../sass/course.sass */
.social i {
  width: 40px;
  display: inline-block;
}

/* line 81, ../sass/course.sass */
nav {
  width: 100%;
  height: 64px;
  background-color: rgba(3, 46, 91, 0.6);
}
/* line 85, ../sass/course.sass */
nav ul {
  float: right;
}
/* line 87, ../sass/course.sass */
nav li {
  padding: 1.5em 1.2em;
  display: inline-block;
}
/* line 90, ../sass/course.sass */
nav li:hover {
  background-color: rgba(3, 46, 91, 0.8);
}
/* line 92, ../sass/course.sass */
nav a {
  color: white;
  height: 100%;
}

/* line 95, ../sass/course.sass */
.nav-program {
  float: left;
  color: white;
  font-size: 1.6em;
  display: block;
  padding: 0.75em 0;
}

/* line 109, ../sass/course.sass */
.vision {
  max-width: 680px;
}
/* line 112, ../sass/course.sass */
.vision ol li {
  list-style-type: decimal;
}

/* line 124, ../sass/course.sass */
.leader {
  color: white;
  position: relative;
  background-image: url(../images/ippi_cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
}
/* line 134, ../sass/course.sass */
.leader .leader-filter {
  display: block;
  padding: 4em 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 46, 91, 0.8);
}

/* line 141, ../sass/course.sass */
.leader-title {
  font-size: 1.2em;
}

/* line 143, ../sass/course.sass */
.host {
  font-size: 1.6em;
}

/* line 155, ../sass/course.sass */
.team-speaker {
  float: left;
  height: 180px;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 174, ../sass/course.sass */
.h2-program {
  clear: both;
  font-size: 2em;
  color: white;
  padding: 1em 0;
  text-align: center;
  background-color: #032e5b;
}

/* line 181, ../sass/course.sass */
.lesson {
  max-width: 620px;
  padding-bottom: 4em;
}

/* line 184, ../sass/course.sass */
.lesson-series {
  font-size: 1.4em;
  border-bottom: 1px solid #032e5b;
  margin-bottom: 20px;
}

/* line 188, ../sass/course.sass */
.lesson-name {
  font-size: 1.2em;
  margin-bottom: 8px;
}

/* line 191, ../sass/course.sass */
.lesson-content {
  font-size: 1em;
  margin-bottom: 16px;
  line-height: 1.2;
}

/* line 197, ../sass/course.sass */
.download {
  text-align: center;
  border-radius: 16px;
  width: 88px;
  padding: 8px 18px;
  border: 1px solid #032e5b;
  display: block;
}

/* line 214, ../sass/course.sass */
.register {
  color: white;
  position: relative;
  background-image: url(../images/ippi_course.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
}
/* line 223, ../sass/course.sass */
.register .register-filter {
  display: block;
  padding: 0em 0 4em 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.7);
}

/* line 242, ../sass/course.sass */
footer {
  color: white;
  background-color: #032e5b;
  height: 5em;
  padding-top: 13em;
}

/* line 247, ../sass/course.sass */
.footer-logo {
  float: right;
  width: 120px;
  height: 76px;
  margin: -10px 0 0 0;
  background-image: url(../images/ippi_taipei.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  overflow: hidden;
}

/* line 257, ../sass/course.sass */
.footer-logo-title {
  width: 100%;
  height: 1px;
  text-indent: 9999px;
  overflow: hidden;
}

/* line 262, ../sass/course.sass */
.footer-contact {
  float: right;
  width: 320px;
  height: 76px;
  margin: 0 0 0 20px;
}

/* line 267, ../sass/course.sass */
.sticky {
  position: absolute;
  bottom: 0;
  height: 6px;
  width: 100%;
  z-index: 20;
}

/* line 273, ../sass/course.sass */
.germany-black, .germany-yellow, .germany-red {
  float: left;
  width: 33.33333%;
  height: 4px;
}

/* line 277, ../sass/course.sass */
.germany-black {
  border-bottom: 4px solid black;
}

/* line 279, ../sass/course.sass */
.germany-red {
  border-bottom: 4px solid #dc0a17;
}

/* line 281, ../sass/course.sass */
.germany-yellow {
  border-bottom: 4px solid #fece2f;
}
