// For general setting
section
	box-sizing:border-box
	-moz-box-sizing:border-box
	width: 100%
	clear: both
	h1:first-child
		width: 200px
		margin: 3em auto 0 auto
.main
	max-width: 60em
	margin: 0 auto
.color
	li
		display: inline-block
		width: 5em
		height: 5em
		margin-left: -4px