/* line 17, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_general.sass */
section {
  clear: both;
}

/* line 49, ../sass/_color.sass */
.primary-color-1 {
  background-color: #ffeba4;
  color: #d7a700;
}

/* line 52, ../sass/_color.sass */
.primary-color-2 {
  background-color: #ffda58;
  color: #be9400;
}

/* line 55, ../sass/_color.sass */
.primary-color-3 {
  background-color: #ffc90b;
  color: #715800;
}

/* line 58, ../sass/_color.sass */
.primary-color-4 {
  background-color: #be9400;
  color: #fff6d7;
}

/* line 61, ../sass/_color.sass */
.primary-color-5 {
  background-color: #715800;
  color: white;
}

/* line 68, ../sass/_color.sass */
.secondary-color-1 {
  background-color: #b1b1b1;
  color: #4b4b4b;
}

/* line 71, ../sass/_color.sass */
.secondary-color-2 {
  background-color: #8a8a8a;
  color: #3e3e3e;
}

/* line 74, ../sass/_color.sass */
.secondary-color-3 {
  background-color: #646464;
  color: #181818;
}

/* line 77, ../sass/_color.sass */
.secondary-color-4 {
  background-color: #3e3e3e;
  color: #cacaca;
}

/* line 80, ../sass/_color.sass */
.secondary-color-5 {
  background-color: #181818;
  color: #fdfdfd;
}

/* line 86, ../sass/_color.sass */
.helper-color-1 {
  background-color: #7eb0db;
  color: #1f496e;
}

/* line 89, ../sass/_color.sass */
.helper-color-2 {
  background-color: #428bca;
  color: #193c5a;
}

/* line 92, ../sass/_color.sass */
.helper-color-3 {
  background-color: #2a6496;
  color: #09141e;
}

/* line 95, ../sass/_color.sass */
.helper-color-4 {
  background-color: #193c5a;
  color: #a6c8e6;
}

/* line 98, ../sass/_color.sass */
.helper-color-5 {
  background-color: #09141e;
  color: #f6f9fc;
}

/* line 106, ../sass/_color.sass */
.danger-color-1 {
  background-color: #f3423f;
  color: #600706;
}

/* line 109, ../sass/_color.sass */
.danger-color-2 {
  background-color: #d8110e;
  color: #480504;
}

/* line 112, ../sass/_color.sass */
.danger-color-3 {
  background-color: #900b09;
  color: black;
}

/* line 115, ../sass/_color.sass */
.danger-color-4 {
  background-color: #480504;
  color: #f6716f;
}

/* line 118, ../sass/_color.sass */
.danger-color-5 {
  background-color: black;
  color: #fcd0cf;
}

/* line 123, ../sass/_color.sass */
.default-color-1 {
  background-color: #cecece;
  color: dimgrey;
}

/* line 126, ../sass/_color.sass */
.default-color-2 {
  background-color: #a8a8a8;
  color: #5c5c5c;
}

/* line 129, ../sass/_color.sass */
.default-color-3 {
  background-color: #828282;
  color: #353535;
}

/* line 132, ../sass/_color.sass */
.default-color-4 {
  background-color: #5c5c5c;
  color: #e8e8e8;
}

/* line 135, ../sass/_color.sass */
.default-color-5 {
  background-color: #353535;
  color: white;
}

/* line 5, ../sass/_font.sass */
h1, h2, p, ul li, a, address {
  font-family: "微軟正黑體", "Microsoft JhengHei", "LiHei Pro", "Apple LiGothic Medium", "標楷體", "DFKai-sb", helvetica, Arial, sans-serif;
}

/* line 23, ../sass/_font.sass */
h1 {
  color: #252525;
  font-size: 1.6em;
  line-height: 1.2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

/* line 27, ../sass/_font.sass */
h2 {
  color: #252525;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 500;
  letter-spacing: 0;
}

/* line 30, ../sass/_font.sass */
p {
  color: #252525;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 300;
  letter-spacing: 0;
  margin-bottom: 12px;
}

/* line 42, ../sass/_font.sass */
ul li, a, address {
  text-decoration: none;
}

/* line 13, ../sass/all.sass */
a {
  color: black;
}

/* line 16, ../sass/all.sass */
img {
  display: block;
}

/* line 21, ../sass/all.sass */
.pull-right {
  margin-right: 40px;
}

/* line 27, ../sass/all.sass */
.wrapper {
  width: 100%;
  margin: 0 auto;
}

/* line 31, ../sass/all.sass */
.container {
  width: 960px;
  margin: 0 auto;
}

/* line 43, ../sass/all.sass */
.fixedbar {
  width: 100%;
  background-color: #ffd609;
  position: fixed;
  z-index: 10;
}

/* line 48, ../sass/all.sass */
ul {
  height: 3em;
}

/* line 50, ../sass/all.sass */
li {
  display: inline-block;
  float: left;
  width: 14.28571%;
  text-align: center;
  line-height: 3em;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 61, ../sass/all.sass */
li:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.55s all;
  -moz-transition: 0.55s all;
  -ms-transition: 0.55s all;
  -o-transition: 0.55s all;
  transition: 0.55s all;
}

/* line 90, ../sass/all.sass */
#about {
  padding-top: 88px;
  padding-bottom: 38px;
  background-image: url(http://viator75.github.io/Demo/case_prototype/images/pyramid.png);
  background-repeat: repeat;
  background-size: 16px;
}
/* line 97, ../sass/all.sass */
#about .hero {
  background-image: url(http://viator75.github.io/Demo/case_prototype/images/hero.jpg);
  background-position: top;
  background-size: cover;
  width: 960px;
  height: 484px;
  margin: 0 auto 28px auto;
  display: block;
}
/* line 105, ../sass/all.sass */
#about p, #about h1 {
  text-align: center;
}

/* line 109, ../sass/all.sass */
#politic {
  padding-top: 58px;
  margin-top: -30px;
  height: 30em;
}
/* line 113, ../sass/all.sass */
#politic .one-third-upper,
#politic .one-third-lower {
  width: 100%;
  height: 184px;
  background-color: #193c5a;
}
/* line 118, ../sass/all.sass */
#politic .one-third-upper {
  background-image: url(http://viator75.github.io/Demo/case_prototype/images/hero.jpg);
  background-position: 0 372px;
  background-size: cover;
}
/* line 122, ../sass/all.sass */
#politic .one-third-lower {
  background-image: url(http://viator75.github.io/Demo/case_prototype/images/hero.jpg);
  background-position: bottom;
  background-size: cover;
}
/* line 126, ../sass/all.sass */
#politic h1 {
  text-align: center;
}

/* line 128, ../sass/all.sass */
#show {
  background-image: url(http://viator75.github.io/Demo/case_prototype/images/pyramid.png);
  background-repeat: repeat;
  background-size: 16px;
  width: 100%;
  height: 45em;
  margin: 2em 0 0 0;
  padding: 2em 0;
}
/* line 136, ../sass/all.sass */
#show .link-show {
  box-model: border-box;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  text-align: center;
}
/* line 142, ../sass/all.sass */
#show .show-perform, #show .show-events, #show .show-services, #show .show-news {
  height: 272px;
  width: 460px;
  margin-bottom: 2em;
  display: block;
  position: relative;
  background-size: 100%;
}
/* line 149, ../sass/all.sass */
#show .show-perform h2, #show .show-events h2, #show .show-services h2, #show .show-news h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: right;
  background-color: rgba(9, 37, 80, 0.7);
  display: block;
  width: 448px;
  padding: 8px 12px 8px 0;
  color: rgba(255, 255, 255, 0.9);
}
/* line 159, ../sass/all.sass */
#show .show-perform:hover, #show .show-events:hover, #show .show-services:hover, #show .show-news:hover {
  -webkit-transition: 2s all;
  -moz-transition: 2s all;
  -ms-transition: 2s all;
  -o-transition: 2s all;
  transition: 2s all;
  background-size: 103%;
}
/* line 166, ../sass/all.sass */
#show .show-perform:hover h2, #show .show-events:hover h2, #show .show-services:hover h2, #show .show-news:hover h2 {
  background-color: rgba(9, 37, 80, 0.9);
  color: rgba(255, 255, 255, 0.9);
  -webkit-transition: 0.35s all;
  -moz-transition: 0.35s all;
  -ms-transition: 0.35s all;
  -o-transition: 0.35s all;
  transition: 0.35s all;
}
/* line 174, ../sass/all.sass */
#show .show-perform {
  background-image: url(http://viator75.github.io/Demo/case_prototype/images/ask.jpg);
}
/* line 176, ../sass/all.sass */
#show .show-events {
  background-image: url(http://viator75.github.io/Demo/case_prototype/images/event.jpg);
}
/* line 178, ../sass/all.sass */
#show .show-services {
  background-image: url(http://viator75.github.io/Demo/case_prototype/images/service.jpg);
}
/* line 180, ../sass/all.sass */
#show .show-news {
  background-image: url(http://viator75.github.io/Demo/case_prototype/images/news.jpg);
}

/* line 185, ../sass/all.sass */
#contact {
  background-color: #092550;
  padding: 2em 0 4em 0;
  height: 40em;
}
/* line 189, ../sass/all.sass */
#contact h1 {
  text-align: center;
  color: white;
}
/* line 192, ../sass/all.sass */
#contact .place {
  float: left;
  margin: 60px 0 20px 0;
  width: 540px;
}
/* line 196, ../sass/all.sass */
#contact .place h1 {
  text-align: left;
}
/* line 198, ../sass/all.sass */
#contact .place p, #contact .place a, #contact .place address {
  color: white;
  font-size: 1.6em;
  font-weight: 400;
}
/* line 202, ../sass/all.sass */
#contact iframe {
  float: left;
  margin: 60px 0 0 0;
  width: 418px;
}

/* line 209, ../sass/all.sass */
.lateral {
  position: fixed;
  top: 30%;
  left: 0;
  height: 10em;
  width: 10em;
  background-color: #ffc90b;
}

/* line 217, ../sass/all.sass */
footer {
  background-color: #092550;
  clear: both;
}
