/* line 17, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_general.sass */
section {
  clear: both;
}

/* line 49, ../sass/_color.sass */
.primary-color-1 {
  background-color: #ffeba4;
  color: #d7a700;
}

/* line 52, ../sass/_color.sass */
.primary-color-2 {
  background-color: #ffda58;
  color: #be9400;
}

/* line 55, ../sass/_color.sass */
.primary-color-3 {
  background-color: #ffc90b;
  color: #715800;
}

/* line 58, ../sass/_color.sass */
.primary-color-4 {
  background-color: #be9400;
  color: #fff6d7;
}

/* line 61, ../sass/_color.sass */
.primary-color-5 {
  background-color: #715800;
  color: white;
}

/* line 68, ../sass/_color.sass */
.secondary-color-1 {
  background-color: #b1b1b1;
  color: #4b4b4b;
}

/* line 71, ../sass/_color.sass */
.secondary-color-2 {
  background-color: #8a8a8a;
  color: #3e3e3e;
}

/* line 74, ../sass/_color.sass */
.secondary-color-3 {
  background-color: #646464;
  color: #181818;
}

/* line 77, ../sass/_color.sass */
.secondary-color-4 {
  background-color: #3e3e3e;
  color: #cacaca;
}

/* line 80, ../sass/_color.sass */
.secondary-color-5 {
  background-color: #181818;
  color: #fdfdfd;
}

/* line 86, ../sass/_color.sass */
.helper-color-1 {
  background-color: #7eb0db;
  color: #1f496e;
}

/* line 89, ../sass/_color.sass */
.helper-color-2 {
  background-color: #428bca;
  color: #193c5a;
}

/* line 92, ../sass/_color.sass */
.helper-color-3 {
  background-color: #2a6496;
  color: #09141e;
}

/* line 95, ../sass/_color.sass */
.helper-color-4 {
  background-color: #193c5a;
  color: #a6c8e6;
}

/* line 98, ../sass/_color.sass */
.helper-color-5 {
  background-color: #09141e;
  color: #f6f9fc;
}

/* line 106, ../sass/_color.sass */
.danger-color-1 {
  background-color: #f3423f;
  color: #600706;
}

/* line 109, ../sass/_color.sass */
.danger-color-2 {
  background-color: #d8110e;
  color: #480504;
}

/* line 112, ../sass/_color.sass */
.danger-color-3 {
  background-color: #900b09;
  color: black;
}

/* line 115, ../sass/_color.sass */
.danger-color-4 {
  background-color: #480504;
  color: #f6716f;
}

/* line 118, ../sass/_color.sass */
.danger-color-5 {
  background-color: black;
  color: #fcd0cf;
}

/* line 123, ../sass/_color.sass */
.default-color-1 {
  background-color: #cecece;
  color: dimgrey;
}

/* line 126, ../sass/_color.sass */
.default-color-2 {
  background-color: #a8a8a8;
  color: #5c5c5c;
}

/* line 129, ../sass/_color.sass */
.default-color-3 {
  background-color: #828282;
  color: #353535;
}

/* line 132, ../sass/_color.sass */
.default-color-4 {
  background-color: #5c5c5c;
  color: #e8e8e8;
}

/* line 135, ../sass/_color.sass */
.default-color-5 {
  background-color: #353535;
  color: white;
}

/* line 5, ../sass/_font.sass */
h1, h2, p, ul li, a, address, label, select, input, textarea {
  font-family: "微軟正黑體", "Microsoft JhengHei", "LiHei Pro", "Apple LiGothic Medium", "標楷體", "DFKai-sb", helvetica, Arial, sans-serif;
}

/* line 23, ../sass/_font.sass */
h1 {
  color: #2f2f2f;
  font-size: 1.6em;
  line-height: 1.2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

/* line 27, ../sass/_font.sass */
h2 {
  color: #2f2f2f;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 500;
  letter-spacing: 0;
}

/* line 30, ../sass/_font.sass */
p {
  color: #2f2f2f;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 300;
  letter-spacing: 0;
  margin-bottom: 12px;
}

/* line 42, ../sass/_font.sass */
ul li, a, address, label, select, input, textarea {
  text-decoration: none;
}

/* line 13, ../sass/backend.sass */
h1 {
  text-align: center;
  color: #f1333a;
}

/* line 17, ../sass/backend.sass */
a {
  color: black;
}

/* line 20, ../sass/backend.sass */
img {
  display: block;
}

/* line 25, ../sass/backend.sass */
.center {
  margin: 0 auto;
}

/* line 32, ../sass/backend.sass */
html, body, .wrapper, section {
  height: auto;
  height: 100%;
  min-height: 580px;
}

/* line 37, ../sass/backend.sass */
section {
  min-height: 100%;
  height: auto;
  margin-bottom: -48px;
}

/* line 43, ../sass/backend.sass */
.wrapper {
  width: 100%;
  margin: 0 auto;
}

/* line 47, ../sass/backend.sass */
.container {
  width: 960px;
  margin: 0 auto;
}

/* line 51, ../sass/backend.sass */
.backend-main {
  background-size: 16px;
  padding-top: 88px;
  height: 100%;
  height: auto;
  min-height: 25em;
}

/* line 57, ../sass/backend.sass */
.backend-workarea {
  width: 620px;
  padding-bottom: 4em;
}

/* line 60, ../sass/backend.sass */
.backend-main-text {
  text-align: center;
  margin-bottom: 16px;
}

/* line 63, ../sass/backend.sass */
.backend-underline-text {
  text-align: left;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid #b4b4b4;
}

/* line 68, ../sass/backend.sass */
.fill-area {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 8em 3em 2em;
}

/* line 71, ../sass/backend.sass */
.info-red {
  color: #f1333a;
}

/* line 73, ../sass/backend.sass */
.info-blue {
  color: #145bc5;
}

/* line 81, ../sass/backend.sass */
.manager-bar {
  width: 100%;
  background-color: #ffd609;
  position: fixed;
  z-index: 10;
  -webkit-box-shadow: 0px 2px 3px rgba(17, 17, 17, 0.2);
  -moz-box-shadow: 0px 2px 3px rgba(17, 17, 17, 0.2);
  box-shadow: 0px 2px 3px rgba(17, 17, 17, 0.2);
}
/* line 89, ../sass/backend.sass */
.manager-bar h2 {
  float: left;
  line-height: 4em;
}
/* line 93, ../sass/backend.sass */
.manager-bar .ul {
  height: 4em;
  float: right;
}
/* line 96, ../sass/backend.sass */
.manager-bar .li {
  display: inline-block;
  width: 138px;
  text-align: center;
  line-height: 4em;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 106, ../sass/backend.sass */
.manager-bar .li:hover {
  color: black;
  background-color: #fee35e;
  -webkit-transition: 0.55s all;
  -moz-transition: 0.55s all;
  -ms-transition: 0.55s all;
  -o-transition: 0.55s all;
  transition: 0.55s all;
}
/* line 114, ../sass/backend.sass */
.manager-bar .logout {
  line-height: 2em;
  width: 4em;
  color: #646464;
}

/* line 143, ../sass/backend.sass */
.login {
  width: 280px;
  height: auto;
  padding: 20px 20px 92px 20px;
  border: 1px solid #b4b4b4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
}
/* line 150, ../sass/backend.sass */
.login label {
  display: inline-block;
  width: 52px;
  text-align: right;
  margin-right: 8px;
}
/* line 155, ../sass/backend.sass */
.login .remember-me {
  font-size: 0.75em;
  width: 42px;
  float: right;
  margin: 0 0 0 4px;
}
/* line 160, ../sass/backend.sass */
.login input {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 12px;
  background-color: white;
  border: 1px solid #787878;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 167, ../sass/backend.sass */
.login input[type="text"], .login input[type="password"] {
  width: 188px;
}
/* line 169, ../sass/backend.sass */
.login input[type="checkbox"] {
  width: 12px;
  height: 12px;
  float: right;
  margin: 0;
}
/* line 174, ../sass/backend.sass */
.login input[type="button"] {
  display: block;
  float: right;
  width: 80px;
  margin: 1em 0 0 0;
  clear: both;
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(200, 200, 200, 0.8);
  color: #545454;
  font-size: 1em;
  cursor: pointer;
}

/* line 198, ../sass/backend.sass */
.upload, .delete, .cancel {
  display: block;
  width: auto;
  clear: both;
  cursor: pointer;
  font-size: 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 205, ../sass/backend.sass */
.upload {
  border: 1px solid #1573d0;
  background-color: #1573d0;
  color: white;
  padding: 0.6em 2em;
}

/* line 210, ../sass/backend.sass */
.delete {
  border: 0;
  background-color: white;
  color: #ffb4b4;
  margin: 0.6em 84px;
}

/* line 216, ../sass/backend.sass */
.cancel {
  border: 0;
  background-color: white;
  color: #a0a0a0;
}

/* line 221, ../sass/backend.sass */
.btn-pull-right {
  float: right;
}

/* line 223, ../sass/backend.sass */
.left-btn {
  float: left;
}

/* line 225, ../sass/backend.sass */
.right-btn {
  display: inline-block;
}

/* line 233, ../sass/backend.sass */
form {
  position: relative;
}
/* line 235, ../sass/backend.sass */
form label, form select, form input, form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 238, ../sass/backend.sass */
form label {
  display: inline-block;
  width: 27%;
  text-align: right;
  margin-right: 8px;
}
/* line 243, ../sass/backend.sass */
form select {
  width: 70%;
  display: inline-block;
  height: 2em;
  font-size: 1em;
  margin-bottom: 12px;
  background-color: white;
  border: 1px solid #787878;
}
/* line 251, ../sass/backend.sass */
form input, form textarea {
  width: 70%;
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 12px;
  background-color: white;
  border: 1px solid #787878;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 259, ../sass/backend.sass */
form input[type="button"], form textarea[type="button"] {
  display: block;
  float: right;
  width: 80px;
  margin: 2em 0 0 0;
  clear: both;
  border: 1px solid #1573d0;
  background-color: #1573d0;
  color: white;
  cursor: pointer;
}
/* line 269, ../sass/backend.sass */
form textarea {
  max-width: 70%;
  max-height: 220px;
  position: relative;
}
/* line 273, ../sass/backend.sass */
form .textarea-anchor {
  position: relative;
  height: 100%;
}
/* line 276, ../sass/backend.sass */
form .form-hint {
  width: auto;
  height: auto;
  font-size: 12px;
  font-weight: 300;
  color: white;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  right: 16px;
  background-color: rgba(241, 51, 58, 0.7);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 288, ../sass/backend.sass */
form .form-hint:before {
  border-left: 0px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 12px solid rgba(241, 51, 58, 0.7);
  width: 0px;
  height: 0px;
  position: absolute;
  top: 8px;
  left: -12px;
  content: "";
}

/* line 303, ../sass/backend.sass */
footer {
  background-color: #e6e6e6;
  clear: both;
  height: 20px;
  padding: 16px 0 12px 0;
  text-align: center;
}
