/* line 4, ../sass/presentation.sass */
html, body, .wrapper, article {
  height: 100%;
  min-height: 100%;
}

/* line 7, ../sass/presentation.sass */
article {
  margin-bottom: -48px;
}

/* line 11, ../sass/presentation.sass */
.presentation {
  background-size: 16px;
  padding-top: 88px;
  height: 100%;
  height: auto;
  min-height: 25em;
}
/* line 17, ../sass/presentation.sass */
.presentation h1 {
  width: auto;
  display: block;
  text-align: center;
  margin: 0 auto;
}
/* line 22, ../sass/presentation.sass */
.presentation ul {
  width: auto;
  margin: 1em auto 2em auto;
  text-align: center;
}
/* line 26, ../sass/presentation.sass */
.presentation li {
  display: inline-block;
  padding: 6px 20px;
  margin: 0 4px;
  border-radius: 20px;
  font-weight: 300;
}
/* line 32, ../sass/presentation.sass */
.presentation .active {
  background-color: #0732a6;
  color: white;
}

/* line 36, ../sass/presentation.sass */
.item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 280px;
  margin: 0 10px;
  width: 220px;
}
/* line 42, ../sass/presentation.sass */
.item .item-image-box {
  width: 220px;
  height: 165px;
  background-size: cover;
  background-position: center center;
}
/* line 47, ../sass/presentation.sass */
.item img {
  margin: 0 auto;
  max-width: 100%;
  min-width: 100%;
  width: auto;
  max-height: 100%;
  min-height: 100%;
  height: 100%;
}
/* line 56, ../sass/presentation.sass */
.item h2 {
  text-align: center;
  margin: 12px auto;
}
/* line 59, ../sass/presentation.sass */
.item p {
  text-align: center;
  font-size: 12px;
  display: inline-block;
  color: #b4b4b4;
}
