/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* top navigation */
/* line 48, ../sass/screen.sass */
h1, h2, h3, h4, h5, h6, p, a, ul, li {
  font-family: "微軟正黑體", "Microsoft JhengHei", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #545454;
}

/* line 51, ../sass/screen.sass */
h2 {
  text-shadow: 1px 1px 3px rgba(102, 102, 102, 0.5);
}

/* line 54, ../sass/screen.sass */
a {
  text-decoration: none;
}

/* line 59, ../sass/screen.sass */
#navigation {
  width: 100%;
  display: block;
  height: 60px;
  background-color: #1f1f1f;
}
/* line 64, ../sass/screen.sass */
#navigation ul {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
/* line 68, ../sass/screen.sass */
#navigation ul li {
  display: inline-block;
  float: left;
}
/* line 71, ../sass/screen.sass */
#navigation ul li span {
  margin-right: 12px;
}
/* line 73, ../sass/screen.sass */
#navigation ul li a {
  width: 192px;
  height: 60px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  text-align: center;
  line-height: 60px;
  display: block;
  float: left;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linea;
  transition: all 0.2s linear;
}
/* line 75, ../sass/screen.sass */
#navigation ul li a:hover {
  background-color: #be1e2d;
  color: rgba(255, 255, 255, 0.9);
}

/* hidden fixed navigation */
/* line 90, ../sass/screen.sass */
#fixedbar {
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  height: 44px;
  background-color: #1f1f1f;
  box-shadow: 1px 1px 3px rgba(17, 17, 17, 0.8);
}
/* line 99, ../sass/screen.sass */
#fixedbar #fixednav {
  display: block;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
/* line 104, ../sass/screen.sass */
#fixedbar #fixednav li {
  display: inline-block;
  float: left;
}
/* line 107, ../sass/screen.sass */
#fixedbar #fixednav li span {
  margin-right: 12px;
}
/* line 109, ../sass/screen.sass */
#fixedbar #fixednav li a {
  width: 192px;
  height: 60px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  text-align: center;
  line-height: 60px;
  display: block;
  float: left;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linea;
  transition: all 0.2s linear;
  height: 44px;
  line-height: 44px;
}
/* line 113, ../sass/screen.sass */
#fixedbar #fixednav li a:hover {
  background-color: #be1e2d;
  color: rgba(255, 255, 255, 0.9);
}

/* line 125, ../sass/screen.sass */
.fa {
  margin-right: 12px;
}

/* line 128, ../sass/screen.sass */
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-image: url(../images/thinker.jpg);
  background-attachment: fixed;
  min-height: 640px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* line 135, ../sass/screen.sass */
.hero h1 {
  position: absolute;
  display: block;
  width: 360px;
  text-align: left;
  top: 26%;
  left: 12%;
  line-height: 40px;
  text-shadow: 1px 1px 3px rgba(102, 102, 102, 0.5);
  color: white;
}
/* line 145, ../sass/screen.sass */
.hero h1 span {
  margin-right: 12px;
  font-size: 60%;
}
/* line 148, ../sass/screen.sass */
.hero .logo {
  background-color: rgba(255, 255, 255, 0.9);
  width: 340px;
  padding: 8px;
  height: auto;
  overflow: hidden;
  position: absolute;
  top: 36%;
  left: 18%;
}
/* line 157, ../sass/screen.sass */
.hero .logo h1 {
  text-indent: -9999px;
  opacity: 0;
}
/* line 160, ../sass/screen.sass */
.hero .social {
  position: absolute;
  bottom: 1%;
  right: 1%;
}
/* line 164, ../sass/screen.sass */
.hero .social a {
  margin-left: 4px;
  color: rgba(250, 250, 255, 0.9);
}
/* line 167, ../sass/screen.sass */
.hero .social a:hover {
  color: #be1e2d;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linea;
  transition: all 0.2s linear;
}

/* line 174, ../sass/screen.sass */
.container {
  width: 100%;
  margin: 0 auto;
}
/* line 177, ../sass/screen.sass */
.container #feeling, .container #register {
  padding-bottom: 60px;
  padding-top: 20px;
}
/* line 181, ../sass/screen.sass */
.container #team {
  overflow: hidden;
}
/* line 184, ../sass/screen.sass */
.container #feeling {
  padding-bottom: 0;
  padding-top: 20px;
}
/* line 187, ../sass/screen.sass */
.container h2 {
  clear: both;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 80px;
  font-size: 24px;
}

/* line 197, ../sass/screen.sass */
#about {
  padding-top: 20px;
  padding-bottom: 0;
  text-align: justify;
}
/* line 202, ../sass/screen.sass */
#about .row {
  background-color: rgba(240, 240, 240, 0.8);
}
/* line 204, ../sass/screen.sass */
#about a {
  color: rgba(200, 35, 48, 0.9);
}
/* line 206, ../sass/screen.sass */
#about a:hover {
  color: rgba(200, 35, 48, 0.7);
}
/* line 209, ../sass/screen.sass */
#about .ted, #about .tedx, #about .tedxtmu {
  height: 120px;
  width: 100%;
  max-width: 290px;
  margin: 0 auto;
}
/* line 214, ../sass/screen.sass */
#about .ted {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-image: url(../images/logo_ted.png);
}
/* line 216, ../sass/screen.sass */
#about .tedx {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-image: url(../images/logo_tedx.png);
}
/* line 218, ../sass/screen.sass */
#about .tedxtmu {
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  background-image: url(../images/logo_tedxtmu.png);
}

/* line 223, ../sass/screen.sass */
#team {
  background-image: url(../images/grey.png);
  background-attachment: fixed;
  background-repeat: repeat;
  padding-top: 20px;
  padding-bottom: 80px;
}
/* line 229, ../sass/screen.sass */
#team h2, #team p {
  color: #545454;
  font-weight: 100;
}
/* line 232, ../sass/screen.sass */
#team h3 {
  margin-top: 40px;
  border-bottom: 1px solid #cccccc;
}
/* line 235, ../sass/screen.sass */
#team .th {
  margin: 4px;
  max-width: 120px;
}
/* line 238, ../sass/screen.sass */
#team .active_container {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
}
/* line 243, ../sass/screen.sass */
#team .active_container h5 {
  background-color: rgba(255, 255, 255, 0.7);
  color: #111111;
  text-align: center;
  width: 120px;
  height: 50px;
  position: absolute;
  display: none;
  bottom: 0;
  left: 4px;
}
/* line 253, ../sass/screen.sass */
#team .active_container:hover > .active, #team .active_container:hover > h5 {
  display: block;
}
/* line 255, ../sass/screen.sass */
#team .active {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
}

/* line 260, ../sass/screen.sass */
.volunteer {
  background-color: #aa1923;
  padding: 60px 0 50px 0;
}
/* line 263, ../sass/screen.sass */
.volunteer h4, .volunteer p {
  color: white;
}
/* line 265, ../sass/screen.sass */
.volunteer p {
  margin-bottom: 0;
}
/* line 267, ../sass/screen.sass */
.volunteer a {
  color: #aa1923;
  padding: 10px;
  display: block;
  width: 140px;
  text-align: center;
  margin: 40px auto 0 auto;
  background-color: white;
  border: 1px solid white;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
}
/* line 277, ../sass/screen.sass */
.volunteer a:hover {
  color: white;
  background-color: #aa1923;
}

/* line 283, ../sass/screen.sass */
.partner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-image: url(../images/glass.png);
  padding: 20px 0;
}
/* line 286, ../sass/screen.sass */
.partner h3, .partner h5 {
  color: white;
}
/* line 288, ../sass/screen.sass */
.partner h3 {
  margin-top: 40px;
  border-bottom: 1px solid #cccccc;
}
/* line 291, ../sass/screen.sass */
.partner .th {
  background-color: white;
  margin: 4px 4px 8px 4px;
  max-width: 120px;
}
/* line 295, ../sass/screen.sass */
.partner .partner_container {
  display: block;
}
/* line 297, ../sass/screen.sass */
.partner .partner_container h5, .partner .partner_container img, .partner .partner_container a {
  display: inline-block;
}
/* line 299, ../sass/screen.sass */
.partner .partner_container h5 {
  width: auto;
}
/* line 301, ../sass/screen.sass */
.partner .partner_container img {
  max-height: 80px;
}
/* line 303, ../sass/screen.sass */
.partner .partner_container ul, .partner .partner_container li {
  list-style-type: none;
}
/* line 305, ../sass/screen.sass */
.partner .sponsor_container {
  display: block;
}
/* line 307, ../sass/screen.sass */
.partner .sponsor_container h5 {
  display: block;
}

/* line 312, ../sass/screen.sass */
#feeling .watch {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../images/watch.jpg);
  background-attachment: fixed;
  height: 100%;
  min-height: 680px;
  width: 100%;
  position: relative;
}
/* line 319, ../sass/screen.sass */
#feeling .watch img {
  position: absolute;
  left: 10%;
  top: 15%;
}
/* line 323, ../sass/screen.sass */
#feeling .watch .info {
  background-color: rgba(17, 17, 17, 0.8);
  width: 380px;
  padding: 20px;
  position: absolute;
  right: 12%;
  top: 20%;
}
/* line 330, ../sass/screen.sass */
#feeling .watch .info h2 {
  color: white;
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}
/* line 336, ../sass/screen.sass */
#feeling .watch .info a {
  color: #aa1923;
  padding: 10px;
  display: block;
  max-width: 340px;
  width: auto;
  text-align: center;
  font-size: 24px;
  margin: 20px auto 0 auto;
  background-color: white;
  border: 1px solid white;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
}
/* line 348, ../sass/screen.sass */
#feeling .watch .info a:hover {
  color: white;
  background-color: #b41923;
}
/* line 351, ../sass/screen.sass */
#feeling .watch .quote {
  background-color: rgba(17, 17, 17, 0.8);
  padding: 8px 8px 8px 20px;
  position: absolute;
  right: 0%;
  top: 64%;
}
/* line 357, ../sass/screen.sass */
#feeling .watch .quote h3 {
  line-height: 30px;
  text-align: left;
  color: white;
}
/* line 361, ../sass/screen.sass */
#feeling .watch .quote h4 {
  color: white;
  text-align: right;
}
/* line 364, ../sass/screen.sass */
#feeling .watch .quote span {
  font-size: 60%;
  margin-right: 8px;
}
/* line 367, ../sass/screen.sass */
#feeling h3 {
  line-height: 60px;
  text-align: center;
}
/* line 370, ../sass/screen.sass */
#feeling .speaker {
  padding: 12px 0;
  background-color: #aa1923;
}
/* line 373, ../sass/screen.sass */
#feeling .speaker h3 {
  color: white;
  line-height: 60px;
}
/* line 376, ../sass/screen.sass */
#feeling .speaker h4 {
  color: white;
  line-height: 30px;
  margin: 8px 0;
}
/* line 380, ../sass/screen.sass */
#feeling .speaker p, #feeling .speaker a {
  color: white;
  text-align: justify;
}
/* line 383, ../sass/screen.sass */
#feeling .speaker a:hover {
  color: rgba(255, 255, 255, 0.7);
}
/* line 385, ../sass/screen.sass */
#feeling .speaker .row {
  padding-bottom: 40px;
}
/* line 387, ../sass/screen.sass */
#feeling .speaker .th {
  max-width: 220px;
  margin-bottom: 20px;
}

/* line 390, ../sass/screen.sass */
#event {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../images/bike.jpg);
  background-attachment: fixed;
  padding-bottom: 60px;
  padding-top: 20px;
}
/* line 395, ../sass/screen.sass */
#event p, #event h6, #event h4, #event h5, #event a {
  color: #111111;
}
/* line 397, ../sass/screen.sass */
#event p {
  font-size: 14px;
}
/* line 399, ../sass/screen.sass */
#event h2 {
  margin-top: 0;
  color: white;
}
/* line 402, ../sass/screen.sass */
#event a:hover {
  color: #c82823;
}
/* line 404, ../sass/screen.sass */
#event .event_info {
  background-color: rgba(250, 250, 250, 0.9);
  width: 94%;
  max-width: 780px;
  padding: 3%;
  margin: 0 auto;
  display: block;
}
/* line 412, ../sass/screen.sass */
#event .event_info h4, #event .event_info br {
  clear: both;
}
/* line 414, ../sass/screen.sass */
#event .event_info .link {
  float: right;
  display: block;
  margin: 8px 0 32px 0;
  width: 128px;
  text-align: center;
  color: white;
  border: 1px solid #be1e2d;
  padding: 16px 8px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #c81e2d;
}
/* line 427, ../sass/screen.sass */
#event .event_info .link:hover {
  background-color: white;
  color: rgba(190, 30, 45, 0.8);
}

/* line 431, ../sass/screen.sass */
#contact {
  box-shadow: 2px 1px 5px rgba(17, 17, 17, 0.3);
  padding-bottom: 40px;
  padding-top: 4px;
  background-color: #f8fafa;
}
/* line 436, ../sass/screen.sass */
#contact span {
  margin-right: 12px;
}

/* line 439, ../sass/screen.sass */
footer {
  background-color: #be1e2d;
  min-height: 48px;
  height: auto;
  padding-top: 12px;
}
/* line 444, ../sass/screen.sass */
footer p {
  color: white;
  text-align: center;
  margin: 0;
  line-height: 1.4;
}

@media only screen and (max-width: 64em) {
  /* line 461, ../sass/screen.sass */
  .hero {
    background-attachment: scroll !important;
    height: 520px;
  }
  /* line 464, ../sass/screen.sass */
  .hero h1 {
    top: 16%;
    left: 13%;
  }
  /* line 467, ../sass/screen.sass */
  .hero .logo {
    width: 300px;
    top: 28%;
    left: 20%;
  }
  /* line 471, ../sass/screen.sass */
  .hero .social {
    bottom: 1%;
    right: 1%;
  }

  /* line 475, ../sass/screen.sass */
  #about {
    padding-top: 0;
    padding-bottom: 0;
  }

  /* line 480, ../sass/screen.sass */
  #feeling .watch {
    background-attachment: scroll !important;
    height: 580px;
  }
  /* line 483, ../sass/screen.sass */
  #feeling .watch img {
    position: absolute;
    width: 20%;
    height: auto;
    left: 9%;
    top: 15%;
  }
  /* line 489, ../sass/screen.sass */
  #feeling .watch .info {
    padding: 20px;
    right: 8%;
    top: 40%;
  }
  /* line 493, ../sass/screen.sass */
  #feeling .watch .info a {
    border: 2px solid #be1b25;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 7px;
    -webkit-border-radius: 7px;
  }
  /* line 496, ../sass/screen.sass */
  #feeling .watch .info a:hover {
    border: 2px solid white;
  }
  /* line 498, ../sass/screen.sass */
  #feeling .watch .quote {
    right: 0%;
    top: 80%;
  }
  /* line 501, ../sass/screen.sass */
  #feeling h3 {
    line-height: 60px;
    text-align: center;
  }
  /* line 505, ../sass/screen.sass */
  #feeling .speaker .th {
    max-width: 150px;
    margin: 0 auto 20px auto;
    display: block;
  }

  /* line 510, ../sass/screen.sass */
  #event {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/glass.png);
    background-attachment: scroll !important;
    background-position: left;
    height: auto;
    padding-top: 10px;
  }
  /* line 516, ../sass/screen.sass */
  #event .event_info {
    background-color: rgba(255, 255, 255, 0.9);
  }

  /* line 520, ../sass/screen.sass */
  #team {
    padding-bottom: 60px;
  }
  /* line 522, ../sass/screen.sass */
  #team .th {
    margin: 2px;
    max-width: 104px;
    padding-bottom: 38px;
    margin-bottom: 0;
  }
  /* line 527, ../sass/screen.sass */
  #team .active_container {
    width: 108px;
    height: 150px;
  }
  /* line 530, ../sass/screen.sass */
  #team .active_container h5 {
    margin: 0 0 6px 0;
    padding: 2px 0;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    width: 104px;
    height: 42px;
    display: block;
    bottom: 0;
    left: 2px;
  }
}
@media only screen and (max-width: 40em) {
  /* line 553, ../sass/screen.sass */
  html {
    overflow-x: hidden;
  }

  /* line 555, ../sass/screen.sass */
  .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    background-image: url(../images/cloud.jpg);
    box-shadow: 1px 2px 3px rgba(82, 82, 82, 0.7);
    background-attachment: scroll !important;
    height: 480px;
  }
  /* line 560, ../sass/screen.sass */
  .hero h1 {
    width: 272px;
    top: 18%;
    left: 5%;
  }
  /* line 564, ../sass/screen.sass */
  .hero .logo {
    width: 280px;
    top: 28%;
    left: 7%;
  }

  /* line 569, ../sass/screen.sass */
  #feeling .watch {
    height: 480px;
    width: 100%;
  }
  /* line 572, ../sass/screen.sass */
  #feeling .watch img {
    width: 20%;
    height: auto;
    left: 9%;
    top: 5%;
  }
  /* line 577, ../sass/screen.sass */
  #feeling .watch .info {
    width: 100%;
    margin: 0;
    right: 0%;
    top: 72%;
    background-color: rgba(17, 17, 17, 0.9);
  }
  /* line 583, ../sass/screen.sass */
  #feeling .watch .info h2 {
    font-size: 20px;
    color: white;
    text-align: left;
    display: block;
    width: 316px;
    margin: 0 auto;
    padding: 0;
  }
  /* line 591, ../sass/screen.sass */
  #feeling .watch .quote {
    right: 0%;
    top: 48%;
  }
  /* line 594, ../sass/screen.sass */
  #feeling .watch .quote h3 {
    line-height: 24px;
    text-align: left;
    color: white;
    font-size: 20px;
  }
  /* line 600, ../sass/screen.sass */
  #feeling .speaker h4 {
    font-size: 24px;
  }

  /* line 604, ../sass/screen.sass */
  #event .event_info .link {
    float: none;
    display: block;
    font-size: 20px;
    margin: 40px auto 52px auto;
    width: 240px;
    color: white;
    border: 1px solid #c81e2d;
    padding: 20px 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #d21e2d;
  }
  /* line 616, ../sass/screen.sass */
  #event .event_info .link:hover {
    background-color: white;
    color: rgba(190, 30, 45, 0.8);
  }

  /* line 621, ../sass/screen.sass */
  #team {
    padding-bottom: 80px;
  }
  /* line 623, ../sass/screen.sass */
  #team h2, #team p {
    color: #545454;
    font-weight: 100;
  }
  /* line 626, ../sass/screen.sass */
  #team h4 {
    font-size: 24px;
  }
  /* line 628, ../sass/screen.sass */
  #team .th {
    margin: 2px;
    max-width: 88px;
    padding-bottom: 36px;
    margin-bottom: 0;
  }
  /* line 633, ../sass/screen.sass */
  #team .active_container {
    display: inline-block;
    width: 92px;
    height: 130px;
    position: relative;
  }
  /* line 638, ../sass/screen.sass */
  #team .active_container h5 {
    margin: 0;
    color: #111111;
    font-size: 12px;
    text-align: center;
    width: 88px;
    height: 32px;
    bottom: 10px;
  }

  /* line 647, ../sass/screen.sass */
  .volunteer {
    background-color: #aa1923;
    padding: 60px 0 50px 0;
  }
  /* line 650, ../sass/screen.sass */
  .volunteer h4, .volunteer p {
    color: white;
  }
  /* line 652, ../sass/screen.sass */
  .volunteer a {
    font-size: 20px;
    color: #aa1923;
    padding: 12px;
    display: block;
    width: 240px;
    text-align: center;
    margin: 60px auto 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  /* line 663, ../sass/screen.sass */
  .volunteer a:hover {
    color: white;
    background-color: #aa1923;
  }

  /* line 666, ../sass/screen.sass */
  .partner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url(../images/glass.png);
    padding: 10px 0;
  }
  /* line 669, ../sass/screen.sass */
  .partner h3, .partner h5 {
    color: white;
  }
  /* line 671, ../sass/screen.sass */
  .partner h3 {
    margin-top: 40px;
    border-bottom: 1px solid #cccccc;
  }
  /* line 674, ../sass/screen.sass */
  .partner .th {
    margin: 4px 4px 8px 4px;
    max-width: 80px;
  }
  /* line 677, ../sass/screen.sass */
  .partner .partner_container {
    display: block;
  }
  /* line 679, ../sass/screen.sass */
  .partner .partner_container h5, .partner .partner_container img, .partner .partner_container a {
    display: inline-block;
  }
  /* line 681, ../sass/screen.sass */
  .partner .partner_container h5 {
    font-size: 16px;
    width: 100%;
  }
  /* line 684, ../sass/screen.sass */
  .partner .partner_container img {
    max-height: 80px;
  }
  /* line 686, ../sass/screen.sass */
  .partner .partner_container ul, .partner .partner_container li {
    list-style-type: none;
  }
  /* line 688, ../sass/screen.sass */
  .partner .sponsor_container {
    display: block;
  }
  /* line 690, ../sass/screen.sass */
  .partner .sponsor_container h5 {
    font-size: 16px;
    display: block;
  }

  /* line 694, ../sass/screen.sass */
  #contact {
    padding: 4px 20px 20px 20px;
    background-color: #f8fafa;
  }
}
