@import compass/reset
@import general
@import color
@import color
@import font
@import button
// @import form

// for demo
.wrapper
	width: 960px
	margin: 0 auto


$width: 100%
nav ul li
	display: inline-block
	float: left
	width: $width/ 7
	text-align: center
	line-height: 3em
#hero
	background-color: $helper-color-1
	height: 30em
#about
	background-color: $default-color-1
	height: 15em
#politic
	background-color: $default-color-2
	height: 30em
#links
	width: 100%
	height: 16em
	margin: 2em 0 4em 0
	padding: 0
	.link-show
		padding-right: 20px
		box-model: border-box
		display: inline-block
		width: $width/4
		box-sizing: border-box
		float: left
		text-align: center
		line-height: 3em
		// &:first-child
		&:last-child
			padding-right: 0
		.image
			background-color: $helper-color-4
			height: 12em


#contact
	background-color: $default-color-4
	height: 30em

.drop
	position: relative
	ul
		opacity: 0
		position: absolute
		top: 16px
		left: 0
	&:hover > ul
		opacity: 1
		display: block
		-webkit-transition: all 0.3s
		-moz-transition: all 0.3s
		-ms-transition: all 0.3s
		-o-transition: all 0.3s
		transition: all 0.3s
.lateral
	position: fixed
	top: 30%
	left: 0
	height: 10em
	width: 10em
	background-color: $primary-color-3

form
	width: 580px
	margin: 0 auto

label
	display: inline-block


textarea
	display: block




