@import compass/reset

// ----------------
/* Basic styling */
// -----------------

.container
	margin: 60px auto
	text-align: center
	overflow: auto
.bar
	display: inline-block
	width: 6px
	margin: 0 0 0 1px
	background-color: #e7e7e7
	overflow: auto
	line-height: 1em

