@import compass/reset

// ----------------
/* Basic styling */
// -----------------

.container
	margin: 60px auto
	text-align: center
.bar
	display: inline-block
	width: 12px
	border: 1px solid
	margin-left: 1px
	background-color: #e7e7e7
