/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* top navigation */
/* line 45, ../sass/screen.sass */
h1, h2, h3, h4, h5, h6, p, a, ul, li {
  color: #545454;
  font-family: "微軟正黑體", "Microsoft JhengHei", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 52, ../sass/screen.sass */
#about h1, #about h2, #service h1, #service h2, #project h1, #project h2, #team h1, #team h2, #contact h1, #contact h2 {
  text-align: center;
}

/* line 64, ../sass/screen.sass */
#project .tag {
  padding: 1px 4px;
  margin-bottom: 4px;
  color: white;
  font-size: 12px;
  display: inline-block;
  background-color: #ffc90b;
  border-bottom: 1px solid #ecbf1e;
  border-right: 1px solid #e1b512;
}

/* line 71, ../sass/screen.sass */
#team .tag {
  padding: 1px 4px;
  margin-bottom: 4px;
  color: white;
  font-size: 12px;
  display: inline-block;
  background-color: rgba(152, 152, 152, 0.5);
  border-bottom: 1px solid #989898;
}

/* line 77, ../sass/screen.sass */
a {
  color: white;
  text-decoration: none;
}
/* line 80, ../sass/screen.sass */
a:hover {
  color: white;
}

/* line 85, ../sass/screen.sass */
#navigation {
  width: 100%;
  display: block;
  height: 60px;
  background-color: #1f1f1f;
}
/* line 90, ../sass/screen.sass */
#navigation ul {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
/* line 94, ../sass/screen.sass */
#navigation ul li {
  display: inline-block;
  float: left;
}
/* line 97, ../sass/screen.sass */
#navigation ul li span {
  margin-right: 12px;
}
/* line 99, ../sass/screen.sass */
#navigation ul li a {
  width: 192px;
  height: 60px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  text-align: center;
  line-height: 60px;
  display: block;
  float: left;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linea;
  transition: all 0.2s linear;
}
/* line 101, ../sass/screen.sass */
#navigation ul li a:hover {
  background-color: #ffc90b;
  color: rgba(255, 255, 255, 0.9);
}

/* hidden fixed navigation */
/* line 116, ../sass/screen.sass */
#fixedbar {
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  height: 44px;
  background-color: #1f1f1f;
}
/* line 124, ../sass/screen.sass */
#fixedbar #fixednav {
  display: block;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
/* line 129, ../sass/screen.sass */
#fixedbar #fixednav li {
  display: inline-block;
  float: left;
}
/* line 132, ../sass/screen.sass */
#fixedbar #fixednav li span {
  margin-right: 12px;
}
/* line 134, ../sass/screen.sass */
#fixedbar #fixednav li a {
  width: 192px;
  height: 60px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  text-align: center;
  line-height: 60px;
  display: block;
  float: left;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linea;
  transition: all 0.2s linear;
  height: 44px;
  line-height: 44px;
}
/* line 138, ../sass/screen.sass */
#fixedbar #fixednav li a:hover {
  background-color: #ffc90b;
  color: rgba(255, 255, 255, 0.9);
}

/* line 150, ../sass/screen.sass */
section {
  padding: 30px 0;
}

/* line 157, ../sass/screen.sass */
#hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 20%;
  background-image: url(../images/hero/12.jpg);
  height: 620px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* line 163, ../sass/screen.sass */
#hero span {
  background-image: url(../images/public/fontech_logo_dark.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 1%;
  width: 180px;
  height: 60px;
  display: block;
  text-indent: 9999px;
  overflow: hidden;
}
/* line 176, ../sass/screen.sass */
#hero h1 {
  color: white;
  height: 1.4em;
  display: table;
  padding: 4px 10px;
  font-weight: 700;
  background-color: rgba(255, 201, 11, 0.8);
  position: relative;
  top: 50%;
  left: 0;
  text-align: left;
}
/* line 187, ../sass/screen.sass */
#hero h2 {
  color: white;
  display: table;
  padding: 4px 10px;
  text-align: left;
  background-color: rgba(11, 21, 11, 0.8);
  position: relative;
  top: 49%;
  left: 0;
}

/* line 199, ../sass/screen.sass */
#service h3, #project h3, #team h3, #contact h3 {
  margin-bottom: 30px;
  text-align: center;
  font-family: "time news roman";
}

/* line 204, ../sass/screen.sass */
#about {
  background-color: #fffffa;
}

/* line 209, ../sass/screen.sass */
#project .columns {
  padding-bottom: 30px;
}

/* line 214, ../sass/screen.sass */
#service {
  background-repeat: repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(../images/public/grey.png);
}
/* line 216, ../sass/screen.sass */
#service h4 {
  text-align: center;
}
/* line 218, ../sass/screen.sass */
#service .app {
  background-image: url(../images/service/mobile.png);
  background-repeat: no-repeat;
  background-position: 0px center;
  height: 160px;
  width: 80px;
  margin: 0 auto;
}
/* line 225, ../sass/screen.sass */
#service .app:hover {
  background-position: center;
  width: 300px;
  -webkit-transition: all 0.95s ease;
  -moz-transition: all 0.95s ease;
  -ms-transition: all 0.95s ease;
  -o-transition: all 0.95s ease;
  transition: all 0.95s ease;
}
/* line 233, ../sass/screen.sass */
#service .dev {
  background-image: url(../images/service/dev.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 160px;
  width: 100%;
}
/* line 239, ../sass/screen.sass */
#service .dev:hover {
  background-image: url(../images/service/dev_light.png);
}
/* line 243, ../sass/screen.sass */
#service .web {
  background-image: url(../images/service/web.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 160px;
  width: 100%;
}
/* line 249, ../sass/screen.sass */
#service .web:hover {
  background-image: url(../images/service/responsive.png);
  background-position: bottom;
  background-size: contain;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 258, ../sass/screen.sass */
#service a {
  display: block;
  width: 120px;
  color: #ffc90b;
  text-align: center;
  padding: 8px 0;
  margin: 30px auto;
  background-color: white;
  border: 1px solid #ffc90b;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* line 271, ../sass/screen.sass */
#team {
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
  background-image: url(../images/public/pattern.png);
}
/* line 274, ../sass/screen.sass */
#team img {
  width: 40%;
  min-width: 30%;
  max-width: 120px;
}

/* line 279, ../sass/screen.sass */
#contact span {
  margin-right: 8px;
}

/* line 281, ../sass/screen.sass */
footer {
  background-color: black;
  text-align: center;
  height: 50px;
}
/* line 285, ../sass/screen.sass */
footer h5 {
  padding-top: 8px;
  color: #ffc90b;
}
