
@media screen and (max-width: 960px)
	

	// ----------------------
	// 文字設定
	// ----------------------



	p, a
		font-size: 20px
		margin: 0 0 60px 0
		line-height: 28px
		text-align: justify

	.p-connect
		margin: 0

	// ----------------------
	// Navbar設定
	// ----------------------

	h1 
		font-size: 26px
		font-weight: bold
		padding: 16px 0 16px 20px
		// prevent overlap
		margin: 100px 0 0 0
		// prevent overlap
		background-color: rgba(200,25,30,1)
		clear: both

	
	h2
		font-size: 26px
		line-height: 28px
		margin: 40px 0 36px 0
		color: rgba(200,25,30,1)

	.date
		line-height: 1.4
		color: rgba(0,153,183,1)
		display: inline
	.time
		color: rgba(200,25,30,1)

	a, .more
		color: rgba(0,153,183,1)

	.nav
		position: fixed
		z-index: 1
		bottom: 120px
		right: 0
		.global, .facebook, .youtube
			height: 48px
			width: 48px
			background-repeat: no-repeat
			background-position: right
			margin-bottom: 8px
			background-size: cover
		.global
			background-image: url(../images/global.png)
		.facebook
			background-image: url(../images/facebook.png)
		.youtube
			background-image: url(../images/youtube.png)






	// visibility control
	.hide-in-sm
		display: none


	.wrapper
		margin: 0 auto
		max-width: 768px
		width: 100%
	
	// helper
	br
		clear: both

	.area
		width: 100%-40px
		padding: 0 20px





	// // two area setting
	// .bisection
	// 	display: inline-block
	// 	max-width: 47%
	// 	vertical-align: top
	// 	text-align: justify

	// .bi_margin
	// 	display: inline-block
	// 	width: 5%






	.performance
		display: inline-block
		width: auto
		margin: 60px 0
		tr

		
		td
			padding: 8px 16px
			height: 54px
		
		h3
			font-size: 20px
			text-align: center
			margin: 0
		
		h4
			font-size: 16px
			margin: 0
			padding: 0
		

	.table_margin
		display: inline-block
		width: 60px


	.time_table
		display: block
		width: auto
		margin: 20px 0
		color: rgba(187,187,187,1)

		tr

		
		td
			font-size: 16px
			width: 36px
			height: 36px
			background-repeat: no-repeat
			background-size: cover
			background-position: 45% 30%
			text-align: center
			vertical-align: middle
		
			.grayball, .redball
				border-radius: 50%
				width: 16px
				line-height: 16px
				padding: 4px
				display: block
				font-size: 12px
				text-align: center
				margin: 0 auto
				vertical-align: middle
			.grayball
				background-color: rgba(166,166,166,1)
				color: rgba(100,100,100,1)
			.redball
				background-color: rgba(207,24,41,1)


		
		h4
			font-size: 16px
			margin: 0
			padding: 0
			padding: 12px
		
		.grayball
			background-image: url(../images/grayball.png)
			color: rgba(89,89,110,1)
		
		.redball
			background-image: url(../images/redball.png)















	.hero
		background-image: url(../images/hero_3.jpg)
		min-height: 620px
		margin-bottom: 40px
		background-repeat: no-repeat
		background-position: top
		background-size: contain
		.intro
			width: 320px
			float: right
			margin: 48px 0 0 0
			h1, p
				font-weight: bold
				margin: 0
				padding: 0
				background-color: inherit
				color: rgba(200,25,30,1)
				margin-bottom: 10px
				clear: both
				border: none
				text-align: left

			h1
				font-size: 24px
				color: rgba(200,25,30,1)
			p
				font-size: 18px
				color: white
				font-weight: 300
				line-height: 18px
		.logo
			height: 80px
			width: 50px
			float: left
			margin-top: 48px
			background-image: url(../images/logo.png)
			background-repeat: no-repeat
			background-position: center
			background-size: cover


	#toggle-view 
		list-style:none	
		font-size: 12px
		padding: 0
		margin: 0

		li 
			margin: 0
			position: relative
			// cursor: pointer
		
		.drop 
			position: absolute
			right: 0px
			top: 40px
			color: rgba(241,241,241,1)
			font-size: 16px
			font-weight: bold
			span
				padding: 12px
				background-color: rgba(100, 100, 100, 1)
		.panel 
			margin: 0
			display:none




	.footer
		margin-top: 100px
		// width: 100%
		background-color: rgba(200,25,30,1)
		.logo
			height: 120px
			width: 75px
			float: left
			margin-top: 40px
			background-image: url(../images/logo.png)
			background-repeat: no-repeat
			background-position: center
			background-size: contain
		.contact
			float: right
			width: 100%
			max-width: 600px
			min-width: 260px
			margin-top: 40px
			text-align: left
			p
				display: inline-block
				width: 260px
				padding: 0
				margin: 0 0 40px 0
				font-size: 14px
				line-height: 18px
				color: rgba(255,255,255,1)
			a
				font-size: 14px
				line-height: 18px
				color: rgba(255,255,255,1)
		.floor
			line-height: 22px
			clear: both
			width: 100%
			max-width: 590px
			text-align: center
			margin: 4px auto
			font-size: 14px
			line-height: 18px

@media screen and (max-width: 780px)
	.hero
		min-height: 580px
		background-position: bottom
		background-size: cover

	.footer
		margin-top: 100px
		// width: 100%
		background-color: rgba(200,25,30,1)
		.contact
			float: left
			width: 240px
			min-width: 240px
			margin-top: 40px
			margin-left: 40px
			text-align: left
			p
				display: inline-block
				width: 280px
				padding: 0
				margin: 0 0 40px 0
				font-size: 14px
				color: rgba(255,255,255,1)
			a
				font-size: 14px
				color: rgba(255,255,255,1)

@media screen and (max-width: 480px)
	h1
		font-size: 22px
	h2
		font-size: 20px
		line-height: 24px
		margin: 24px 0 20px 0
	p, a
		font-size: 14px
		line-height: 18px
	.hero
		min-height: 300px
		.intro
			width: 200px
			margin-top: 20px
			h1
				font-size: 16px
				line-height: 16px
			p
				font-size: 10px
				line-height: 12px

			margin-top: 20px
	.footer
		.logo
			width: 60px
			height: 100px
		.contact
			width: 220px
			p
				width: 220px
				font-size: 12px
				margin-bottom: 20px
			a
				font-size: 12px
		.floor
			font-size: 12px

@media screen and (max-width: 410px)

	.footer
		.contact
			margin: 40px 0 20px 0 0
			float: left
			width: 210px
		p
			font-size: 12px
		a
			font-size: 12px