/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset"

body
	background-color: rgba(20,20,20,1)
	font-family: "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	color: white

h1, h2, h3, p, ul, li, a
	font-weight: 300


p
	color: rgba(187,187,187,1)





// ----------------------
// 一開始就可見的部分
// ----------------------




// #toggle-show
// 	h1
// 		font-size: 32px
// 		font-weight: bold
// 		padding: 20px 40px
// 		margin: 0
// 		background-color: rgba(200,25,30,1)
// 		border-top: 2px solid rgba(250,60,50,1)
// 		border-bottom: 2px solid rgba(151,40,30,1)
// 		clear: both
// 	h2
// 		font-size: 32px
// 		margin: 40px 0 36px 0
// 		color: rgba(200,25,30,1)
// 	.more, .date
// 		font-size: 30px
// 		line-height: 1.4
// 		color: rgba(0,153,183,1)
// 		display: inline
// 	.time
// 		color: rgba(200,25,30,1)





// ----------------------
// 要伸縮的部分
// ----------------------






// #toggle-view 
// 	h1 
// 		font-size: 24px
// 		padding: 20px 40px
// 		margin: 0
// 		background-color: rgba(200,25,30,1)
// 		border-top: 2px solid rgba(250,60,50,1)
// 		border-bottom: 2px solid rgba(151,40,30,1)
	
// 	h2
// 		font-size: 24px
// 		line-height: 24px
// 		margin: 34px 0 30px 0
// 		color: rgba(200,25,30,1)
	
// 	p
// 		margin: 20px 0
// 		line-height: 1.6
// 		text-align: justify
	
// 	a, .more, .date
// 		font-size: 16px
// 		line-height: 1.4
// 		color: rgba(0,153,183,1)
// 		display: inline
	
// 	
// 		color: rgba(200,25,30,1)




// ----------------------
// 圖片設定
// ----------------------


.view_lg
	width: 100%
	max-width: 960px



.view_sm
	// width: 100%
	margin: 40px auto
	// max-height: 240px



.race_route
	width: 100%
	margin: 40px auto
	max-height: 230px







	














@media screen and (min-width: 960px)
	

	// ----------------------
	// 文字設定
	// ----------------------

	p, a, .more
		font-size: 18px
		margin: 0 0 40px 0
		line-height: 28px
		text-align: justify

	// ----------------------
	// Navbar設定
	// ----------------------


	h1 
		font-size: 28px
		font-weight: bold
		padding: 20px 40px
		margin: 0
		background-color: rgba(200,25,30,1)
		border-top: 2px solid rgba(250,60,50,1)
		border-bottom: 2px solid rgba(151,40,30,1)
		clear: both

	
	h2
		font-size: 26px
		line-height: 24px
		margin: 40px 0 36px 0
		color: rgba(200,25,30,1)

	
	.date
		line-height: 1.4
		color: rgba(0,153,183,1)
		display: inline
	.time
		color: rgba(200,25,30,1)
	a, .more, 
		color: rgba(0,153,183,1)

	.nav
		position: fixed
		z-index: 1
		bottom: 160px
		right: 0
		.global, .facebook, .youtube
			height: 80px
			width: 80px
			background-repeat: no-repeat
			background-position: right
			margin-bottom: 10px
			background-size: cover
		.global
			background-image: url(../images/global.png)
		.facebook
			background-image: url(../images/facebook.png)
		.youtube
			background-image: url(../images/youtube.png)






	// visibility control
	.hide-in-lg
		display: none


	// width control
	.wrapper
		margin: 0 auto
		max-width: 960px
		width: 100%


	// helper
	br
		clear: both

	.area
		width: 100%-80px
		padding: 0 40px



	// two area setting
	.bisection
		display: inline-block
		max-width: 47%
		vertical-align: top
		text-align: justify

	.bi_margin
		display: inline-block
		width: 5%






	.performance
		display: inline-block
		width: auto
		margin: 60px 0
		tr

		
		td
			padding: 8px 16px
			height: 54px
		
		h3
			font-size: 20px
			text-align: center
			margin: 0
		
		h4
			font-size: 16px
			margin: 0
			padding: 0
		

	.table_margin
		display: inline-block
		width: 50px

	.time_table
		display: block
		width: auto
		margin: 0 0 60px 0
		color: rgba(187,187,187,1)

		tr

		
		td
			font-size: 16px
			width: 36px
			height: 36px
			text-align: center
			vertical-align: middle
		
			.grayball, .redball
				border-radius: 50%
				width: 16px
				line-height: 16px
				padding: 4px
				display: block
				font-size: 12px
				text-align: center
				margin: 0 auto
				vertical-align: middle
			.grayball
				background-color: rgba(166,166,166,1)
				color: rgba(100,100,100,1)
			.redball
				background-color: rgba(207,24,41,1)


		
		h3
			font-size: 22px
			margin: 0
			padding: 0
		
		// .grayball
		// 	background-image: url(../images/grayball.png)
		// 	color: rgba(89,89,110,1)
		
		// .redball
		// 	background-image: url(../images/redball.png)
		

	.hero
		background-image: url(../images/hero_3.jpg)
		min-height: 800px
		background-repeat: no-repeat
		background-position: bottom
		background-size: cover
		.intro
			width: 310px
			float: right
			margin: 60px 0 0 0
			h1, p
				font-weight: bold
				margin: 0
				padding: 0
				background-color: inherit
				color: rgba(200,25,30,1)
				margin-bottom: 10px
				clear: both
				border: none
				text-align: left

			h1
				font-size: 34px
				color: rgba(200,25,30,1)
				margin-bottom: 40px
			p
				font-size: 20px
				color: white
				font-weight: 300




		.logo
			height: 120px
			width: 75px
			float: left
			margin-top: 60px
			background-image: url(../images/logo.png)
			background-repeat: no-repeat
			background-position: center
			background-size: cover
	.welcome
		.sign
			background-image: url(../images/sign.png)
			height: 95px
			width: 190px
			margin-bottom: 40px
			background-repeat: no-repeat
			background-position: center

	// #toggle-view 
	// 	list-style: none	
	// 	font-size: 12px
	// 	padding: 0
	// 	margin: 0
	// 	li 
	// 		margin: 0
	// 		position: relative
	// 		cursor: pointer
		
	// 	.drop 
	// 		position: absolute
	// 		right: 5px
	// 		top: 0
	// 		color: #ccc
	// 		font-size: 13px
		
		
	// 	.panel 
	// 		margin: 0
	// 		display: none
		

		
	// 	.view_sm
	// 		// width: 100%
	// 		// max-width: 960px
	// 		margin: 20px auto
	// 		// height: 365px
		





	.footer
		margin: 0 auto
		max-width: 960px
		background-color: rgba(200,25,30,1)
		.logo
			height: 200px
			width: 128px
			float: left
			margin-top: 40px
			background-image: url(../images/logo.png)
			background-repeat: no-repeat
			background-position: center
			background-size: contain
		.contact
			float: right
			width: 570px
			margin-top: 40px
			p
				display: inline-block
				width: 280px
				padding: 0
				margin: 0 0 40px 0 
				font-size: 16px
				color: rgba(255,255,255,1)
		.floor
			width: 570px
			float: right
			text-align: left
			margin: 0 0 30px 0
			
		



















