/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
h1, h2, h3, p, ul, li, a {
  font-weight: 300;
}

/* line 11, ../sass/screen.scss */
p {
  font-size: 16px;
  line-height: 1.4;
  color: #bbbbbb;
}

/* line 18, ../sass/screen.scss */
.hero h1, .hero p {
  color: #c8191e;
}

/* line 24, ../sass/screen.scss */
#toggle-view h1 {
  font-size: 24px;
  padding: 20px 40px;
  margin: 0;
  background-color: #c8191e;
  border-top: 2px solid #fa3c32;
  border-bottom: 2px solid #97281e;
}
/* line 32, ../sass/screen.scss */
#toggle-view h2 {
  font-size: 24px;
  margin: 20px 0;
  color: #c8191e;
}
/* line 37, ../sass/screen.scss */
#toggle-view p {
  margin: 20px 0;
  line-height: 1.6;
  text-align: justify;
}
/* line 42, ../sass/screen.scss */
#toggle-view a, #toggle-view .more, #toggle-view .date {
  font-size: 16px;
  line-height: 1.4;
  color: #0099b7;
  display: inline;
}
/* line 48, ../sass/screen.scss */
#toggle-view .time {
  color: #c8191e;
}

/* line 54, ../sass/screen.scss */
body {
  background-color: #141414;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  color: white;
}
/* line 58, ../sass/screen.scss */
body li h1 {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 63, ../sass/screen.scss */
.drop img {
  height: 40px;
  margin: 14px 4px;
}

@media screen and (min-width: 960px) {
  /* line 71, ../sass/screen.scss */
  .wrapper {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
  }

  /* line 77, ../sass/screen.scss */
  br {
    clear: both;
  }

  /* line 81, ../sass/screen.scss */
  .area {
    width: 100% -80px;
    padding: 0 40px 40px 40px;
  }

  /* line 85, ../sass/screen.scss */
  .bisection {
    display: inline-block;
    max-width: 420px;
    width: 100%;
    vertical-align: top;
    text-align: justify;
  }

  /* line 92, ../sass/screen.scss */
  .bi_margin {
    display: inline-block;
    width: 34px;
  }

  /* line 96, ../sass/screen.scss */
  .performance {
    display: inline-block;
    width: auto;
    margin: 40px 0;
  }
  /* line 103, ../sass/screen.scss */
  .performance td {
    padding: 8px 16px;
    height: 54px;
  }
  /* line 107, ../sass/screen.scss */
  .performance h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  /* line 112, ../sass/screen.scss */
  .performance h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  /* line 118, ../sass/screen.scss */
  .table_margin {
    display: inline-block;
    width: 60px;
  }

  /* line 123, ../sass/screen.scss */
  .time_table {
    display: block;
    width: auto;
    margin: 20px 0;
    color: #bbbbbb;
  }
  /* line 132, ../sass/screen.scss */
  .time_table td {
    padding: 8px;
    background-repeat: no-repeat;
    background-position: 45% 30%;
    text-align: center;
    vertical-align: middle;
  }
  /* line 139, ../sass/screen.scss */
  .time_table h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  /* line 144, ../sass/screen.scss */
  .time_table h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  /* line 149, ../sass/screen.scss */
  .time_table .grayball {
    background-image: url(../../images/ferrari/grayball.png);
    color: #59596e;
  }
  /* line 153, ../sass/screen.scss */
  .time_table .redball {
    background-image: url(../../images/ferrari/redball.png);
  }

  /* line 157, ../sass/screen.scss */
  .hero {
    background-image: url(../../images/ferrari/hero_2.png);
    min-height: 800px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
  /* line 164, ../sass/screen.scss */
  .hero .nav {
    float: left;
    margin-top: 20px;
  }
  /* line 168, ../sass/screen.scss */
  .hero ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    color: #c8191e;
  }
  /* line 174, ../sass/screen.scss */
  .hero .browser {
    float: right;
  }
  /* line 177, ../sass/screen.scss */
  .hero .intro {
    width: 240px;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
  }
  /* line 182, ../sass/screen.scss */
  .hero .intro h1 {
    font-size: 26px;
    margin: 0;
    color: #c8191e;
    margin-bottom: 10px;
  }
  /* line 189, ../sass/screen.scss */
  .hero .logo {
    height: 120px;
    width: 75px;
    float: left;
    margin-top: 30px;
    background-image: url(../../images/ferrari/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* line 202, ../sass/screen.scss */
  .welcome .sign {
    background-image: url(../../images/ferrari/sign.png);
    height: 95px;
    width: 190px;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* line 209, ../sass/screen.scss */
  .welcome p {
    margin: 40px 0;
    line-height: 1.8;
  }

  /* line 215, ../sass/screen.scss */
  #toggle-view {
    list-style: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
  /* line 220, ../sass/screen.scss */
  #toggle-view li {
    margin: 0px;
    position: relative;
    cursor: pointer;
  }
  /* line 225, ../sass/screen.scss */
  #toggle-view .drop {
    position: absolute;
    right: 5px;
    top: 0;
    color: #ccc;
    font-size: 13px;
  }
  /* line 232, ../sass/screen.scss */
  #toggle-view .panel {
    margin: 0;
    display: none;
  }
  /* line 236, ../sass/screen.scss */
  #toggle-view .view_lg {
    width: 100%;
    max-width: 960px;
    margin: 40px 0 20px 0;
  }
  /* line 241, ../sass/screen.scss */
  #toggle-view .view_sm {
    margin: 20px auto;
  }

  /* line 252, ../sass/screen.scss */
  .footer {
    font-size: 12px;
    max-width: 960px;
    background-color: #c8191e;
  }
  /* line 256, ../sass/screen.scss */
  .footer .logo {
    height: 200px;
    width: 128px;
    float: left;
    margin-top: 40px;
    background-image: url(../../images/ferrari/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  /* line 266, ../sass/screen.scss */
  .footer nav {
    width: 320px;
    float: right;
    margin: 30px 124px 20px 0;
    color: #323232;
  }
  /* line 273, ../sass/screen.scss */
  .footer nav ul li {
    display: inline-block;
    margin: 0 4px;
  }
  /* line 278, ../sass/screen.scss */
  .footer .contact {
    float: right;
    width: 420px;
    margin-right: 20px;
  }
  /* line 282, ../sass/screen.scss */
  .footer .contact .info {
    display: inline-block;
    width: 200px;
    height: 60px;
    padding: 10px 0;
    line-height: 1.8;
    letter-spacing: 0.5;
  }
  /* line 291, ../sass/screen.scss */
  .footer .floor {
    width: 440px;
    float: right;
    text-align: left;
    margin: 20px 0 30px 0;
    color: #323232;
  }
}
@media screen and (min-width: 640px) and (max-width: 960px) {
  /* line 324, ../sass/screen.scss */
  .wrapper {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
  }

  /* line 330, ../sass/screen.scss */
  br {
    clear: both;
  }

  /* line 334, ../sass/screen.scss */
  .area {
    width: 100% -80px;
    padding: 0 40px;
  }

  /* line 338, ../sass/screen.scss */
  .bisection {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align: justify;
  }

  /* line 345, ../sass/screen.scss */
  .bi_margin {
    display: none;
  }

  /* line 348, ../sass/screen.scss */
  .performance {
    display: inline-block;
    width: auto;
    margin: 40px 0;
  }
  /* line 355, ../sass/screen.scss */
  .performance td {
    padding: 8px 16px;
    height: 54px;
  }
  /* line 359, ../sass/screen.scss */
  .performance h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  /* line 364, ../sass/screen.scss */
  .performance h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  /* line 370, ../sass/screen.scss */
  .table_margin {
    display: none;
  }

  /* line 374, ../sass/screen.scss */
  .time_table {
    display: block;
    width: auto;
    margin: 20px 0;
    color: #bbbbbb;
  }
  /* line 383, ../sass/screen.scss */
  .time_table td {
    padding: 8px;
    background-repeat: no-repeat;
    background-position: 45% 30%;
    text-align: center;
    vertical-align: middle;
  }
  /* line 390, ../sass/screen.scss */
  .time_table h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  /* line 395, ../sass/screen.scss */
  .time_table h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  /* line 400, ../sass/screen.scss */
  .time_table .grayball {
    background-image: url(../../images/ferrari/grayball.png);
    color: #59596e;
  }
  /* line 404, ../sass/screen.scss */
  .time_table .redball {
    background-image: url(../../images/ferrari/redball.png);
  }

  /* line 408, ../sass/screen.scss */
  .hero {
    background-image: url(../../images/ferrari/hero_2.png);
    min-height: 760px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
  /* line 415, ../sass/screen.scss */
  .hero .nav {
    float: left;
    margin-top: 20px;
  }
  /* line 419, ../sass/screen.scss */
  .hero ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    color: #c8191e;
  }
  /* line 425, ../sass/screen.scss */
  .hero .browser {
    float: right;
  }
  /* line 428, ../sass/screen.scss */
  .hero .intro {
    width: 240px;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
  }
  /* line 433, ../sass/screen.scss */
  .hero .intro h1 {
    font-size: 26px;
    margin: 0;
    color: #c8191e;
    margin-bottom: 10px;
  }
  /* line 440, ../sass/screen.scss */
  .hero .logo {
    height: 120px;
    width: 75px;
    float: left;
    margin-top: 30px;
    background-image: url(../../images/ferrari/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* line 453, ../sass/screen.scss */
  .welcome .sign {
    background-image: url(../../images/ferrari/sign.png);
    height: 95px;
    width: 190px;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* line 460, ../sass/screen.scss */
  .welcome p {
    margin: 40px 0;
    line-height: 1.8;
  }

  /* line 466, ../sass/screen.scss */
  #toggle-view {
    list-style: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
  /* line 471, ../sass/screen.scss */
  #toggle-view li {
    margin: 0px;
    position: relative;
    cursor: pointer;
  }
  /* line 476, ../sass/screen.scss */
  #toggle-view .drop {
    position: absolute;
    right: 5px;
    top: 0;
    color: #ccc;
    font-size: 13px;
  }
  /* line 483, ../sass/screen.scss */
  #toggle-view .panel {
    margin: 0;
    display: none;
  }
  /* line 487, ../sass/screen.scss */
  #toggle-view .view_lg {
    width: 100%;
    max-width: 960px;
    margin: 40px 0 20px 0;
  }
  /* line 492, ../sass/screen.scss */
  #toggle-view .view_sm {
    width: 100%;
    margin: 20px auto;
  }

  /* line 503, ../sass/screen.scss */
  .footer {
    font-size: 12px;
    max-width: 960px;
    background-color: #c8191e;
  }
  /* line 507, ../sass/screen.scss */
  .footer .logo {
    height: 180px;
    width: 108px;
    float: left;
    margin-top: 60px;
    background-image: url(../../images/ferrari/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  /* line 517, ../sass/screen.scss */
  .footer nav {
    width: 320px;
    float: right;
    margin: 30px 104px 20px 0;
    color: #323232;
  }
  /* line 524, ../sass/screen.scss */
  .footer nav ul li {
    display: inline-block;
    margin: 0 4px;
  }
  /* line 529, ../sass/screen.scss */
  .footer .contact {
    float: right;
    width: 420px;
  }
  /* line 533, ../sass/screen.scss */
  .footer .contact .info {
    display: inline-block;
    width: 200px;
    height: 60px;
    padding: 10px 0;
    line-height: 1.8;
    letter-spacing: 0.5;
  }
  /* line 542, ../sass/screen.scss */
  .footer .floor {
    width: 420px;
    float: right;
    text-align: left;
    margin: 20px 0 30px 0;
    color: #323232;
  }
}
@media screen and (max-width: 640px) {
  /* line 580, ../sass/screen.scss */

  #toggle-view h1 {
    font-size: 20px;
    padding: 20px 10px;
    margin: 0;
    background-color: #c8191e;
    border-top: 2px solid #fa3c32;
    border-bottom: 2px solid #97281e;
  }

  .wrapper {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
  }

  /* line 586, ../sass/screen.scss */
  br {
    clear: both;
  }

  /* line 590, ../sass/screen.scss */
  .area {
    width: 100% -40px;
    padding: 0 20px 20px 20px;
  }

  /* line 594, ../sass/screen.scss */
  .bisection {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align: justify;
  }

  /* line 601, ../sass/screen.scss */
  .bi_margin {
    display: none;
  }

  /* line 604, ../sass/screen.scss */
  .performance {
    display: inline-block;
    width: auto;
    margin: 40px 0;
  }
  /* line 611, ../sass/screen.scss */
  .performance td {
    padding: 4px 8px;
    height: 40px;
  }
  /* line 615, ../sass/screen.scss */
  .performance h3 {
    font-size: 16px;
    text-align: center;
    margin: 0;
  }
  /* line 620, ../sass/screen.scss */
  .performance h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  /* line 626, ../sass/screen.scss */
  .table_margin {
    display: none;
  }

  /* line 630, ../sass/screen.scss */
  .time_table {
    display: block;
    width: auto;
    margin: 40px 0;
    color: #bbbbbb;
  }
  /* line 639, ../sass/screen.scss */
  .time_table td {
    padding: 8px;
    background-repeat: no-repeat;
    background-position: 45% 30%;
    text-align: center;
    vertical-align: middle;
  }
  /* line 646, ../sass/screen.scss */
  .time_table h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  /* line 651, ../sass/screen.scss */
  .time_table h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  /* line 656, ../sass/screen.scss */
  .time_table .grayball {
    background-image: url(../../images/ferrari/grayball.png);
    color: #59596e;
  }
  /* line 660, ../sass/screen.scss */
  .time_table .redball {
    background-image: url(../../images/ferrari/redball.png);
  }

  /* line 664, ../sass/screen.scss */
  .hero {
    background-image: url(../../images/ferrari/hero_2.png);
    min-height: 460px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
  /* line 671, ../sass/screen.scss */
  .hero .nav {
    float: left;
    margin-top: 20px;
  }
  /* line 675, ../sass/screen.scss */
  .hero ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    color: #c8191e;
  }
  /* line 681, ../sass/screen.scss */
  .hero .browser {
    float: right;
  }
  /* line 684, ../sass/screen.scss */
  .hero .intro {
    width: 100%;
    padding: 0px;
    margin-top: 10px;
  }
  /* line 689, ../sass/screen.scss */
  .hero .intro h1 {
    font-size: 26px;
    margin: 0;
    color: #c8191e;
    margin-bottom: 10px;
  }
  /* line 696, ../sass/screen.scss */
  .hero .logo {
    height: 120px;
    width: 75px;
    float: left;
    margin-top: 10px;
    background-image: url(../../images/ferrari/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* line 709, ../sass/screen.scss */
  .welcome .sign {
    background-image: url(../../images/ferrari/sign.png);
    height: 95px;
    width: 190px;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* line 716, ../sass/screen.scss */
  .welcome p {
    margin: 40px 0;
    line-height: 1.8;
  }

  /* line 722, ../sass/screen.scss */
  #toggle-view {
    list-style: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
  /* line 727, ../sass/screen.scss */
  #toggle-view li {
    margin: 0px;
    position: relative;
    cursor: pointer;
  }
  /* line 732, ../sass/screen.scss */
  #toggle-view .drop {
    position: absolute;
    right: 5px;
    top: 0;
    color: #ccc;
    font-size: 13px;
  }
  /* line 739, ../sass/screen.scss */
  #toggle-view .panel {
    margin: 0;
    display: none;
  }
  /* line 743, ../sass/screen.scss */
  #toggle-view .view_lg {
    width: 100%;
    max-width: 960px;
    margin: 40px 0 20px 0;
  }
  /* line 748, ../sass/screen.scss */
  #toggle-view .view_sm {
    width: 100%;
    margin: 20px auto;
  }

  /* line 757, ../sass/screen.scss */
  .footer {
    font-size: 12px;
    max-width: 960px;
    background-color: #c8191e;
  }
  /* line 761, ../sass/screen.scss */
  .footer .logo {
    display: none;
  }
  /* line 764, ../sass/screen.scss */
  .footer nav {
    width: 100%;
    padding: 30px 0;
    color: #323232;
  }
  /* line 768, ../sass/screen.scss */
  .footer nav ul li {
    display: inline-block;
    margin: 0 2px;
    font-size: 12px;
  }
  /* line 774, ../sass/screen.scss */
  .footer .contact {
    float: 100%;
    width: 100%;
  }
  /* line 778, ../sass/screen.scss */
  .footer .contact .info {
    font-size: 14px;
    margin: 0 3% 0 0;
    height: 60px;
    padding: 20px 0;
    line-height: 1.6;
    letter-spacing: 0.5;
  }
  /* line 789, ../sass/screen.scss */
  .footer .floor {
    width: 240px;
    text-align: center;
    margin: 20px auto;
    color: #323232;
    line-height: 1.4;
  }

}
