@media screen and (max-width: 960px) {
  /* line 11, ../sass/screen_2.sass */
  p, a {
    font-size: 20px;
    margin: 0 0 60px 0;
    line-height: 28px;
    text-align: justify;
  }

  /* line 17, ../sass/screen_2.sass */
  .p-connect {
    margin: 0;
  }

  /* line 24, ../sass/screen_2.sass */
  h1 {
    font-size: 26px;
    padding: 16px 0 16px 20px;
    margin: 100px 0 0 0;
    background-color: #c8191e;
    clear: both;
  }

  /* line 33, ../sass/screen_2.sass */
  h2 {
    font-size: 26px;
    line-height: 28px;
    margin: 40px 0 36px 0;
    color: #c8191e;
  }

  /* line 39, ../sass/screen_2.sass */
  .date {
    line-height: 1.4;
    color: #0099b7;
    display: inline;
  }

  /* line 43, ../sass/screen_2.sass */
  .time {
    color: #c8191e;
  }

  /* line 46, ../sass/screen_2.sass */
  a, .more {
    color: #0099b7;
  }

  /* line 49, ../sass/screen_2.sass */
  .nav {
    position: fixed;
    z-index: 1;
    bottom: 120px;
    right: 0;
  }
  /* line 54, ../sass/screen_2.sass */
  .nav .global, .nav .facebook, .nav .youtube {
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 8px;
    background-size: cover;
  }
  /* line 61, ../sass/screen_2.sass */
  .nav .global {
    background-image: url(../images/global.png);
  }
  /* line 63, ../sass/screen_2.sass */
  .nav .facebook {
    background-image: url(../images/facebook.png);
  }
  /* line 65, ../sass/screen_2.sass */
  .nav .youtube {
    background-image: url(../images/youtube.png);
  }

  /* line 74, ../sass/screen_2.sass */
  .hide-in-sm {
    display: none;
  }

  /* line 78, ../sass/screen_2.sass */
  .wrapper {
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
  }

  /* line 84, ../sass/screen_2.sass */
  br {
    clear: both;
  }

  /* line 87, ../sass/screen_2.sass */
  .area {
    width: 100% -40px;
    padding: 0 20px;
  }

  /* line 111, ../sass/screen_2.sass */
  .performance {
    display: inline-block;
    width: auto;
    margin: 60px 0;
  }
  /* line 118, ../sass/screen_2.sass */
  .performance td {
    padding: 8px 16px;
    height: 54px;
  }
  /* line 122, ../sass/screen_2.sass */
  .performance h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  /* line 127, ../sass/screen_2.sass */
  .performance h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  /* line 133, ../sass/screen_2.sass */
  .table_margin {
    display: inline-block;
    width: 60px;
  }

  /* line 138, ../sass/screen_2.sass */
  .time_table {
    display: block;
    width: auto;
    margin: 20px 0;
    color: #bbbbbb;
  }
  /* line 147, ../sass/screen_2.sass */
  .time_table td {
    font-size: 16px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45% 30%;
    text-align: center;
    vertical-align: middle;
  }
  /* line 157, ../sass/screen_2.sass */
  .time_table td .grayball, .time_table td .redball {
    border-radius: 50%;
    width: 16px;
    line-height: 16px;
    padding: 4px;
    display: block;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
  }
  /* line 167, ../sass/screen_2.sass */
  .time_table td .grayball {
    background-color: #a6a6a6;
    color: #646464;
  }
  /* line 170, ../sass/screen_2.sass */
  .time_table td .redball {
    background-color: #cf1829;
  }
  /* line 175, ../sass/screen_2.sass */
  .time_table h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding: 12px;
  }
  /* line 181, ../sass/screen_2.sass */
  .time_table .grayball {
    background-image: url(../images/grayball.png);
    color: #59596e;
  }
  /* line 185, ../sass/screen_2.sass */
  .time_table .redball {
    background-image: url(../images/redball.png);
  }

  /* line 202, ../sass/screen_2.sass */
  .hero {
    background-image: url(../images/hero_3.jpg);
    min-height: 620px;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }
  /* line 209, ../sass/screen_2.sass */
  .hero .intro {
    width: 320px;
    float: right;
    margin: 48px 0 0 0;
  }
  /* line 213, ../sass/screen_2.sass */
  .hero .intro h1, .hero .intro p {
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: inherit;
    color: #c8191e;
    margin-bottom: 10px;
    clear: both;
    border: none;
    text-align: left;
  }
  /* line 224, ../sass/screen_2.sass */
  .hero .intro h1 {
    font-size: 24px;
    color: #c8191e;
  }
  /* line 227, ../sass/screen_2.sass */
  .hero .intro p {
    font-size: 18px;
    color: white;
    font-weight: 300;
    line-height: 18px;
  }
  /* line 232, ../sass/screen_2.sass */
  .hero .logo {
    height: 120px;
    width: 75px;
    float: left;
    margin-top: 48px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* line 243, ../sass/screen_2.sass */
  #toggle-view {
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
  /* line 249, ../sass/screen_2.sass */
  #toggle-view li {
    margin: 0;
    position: relative;
  }
  /* line 254, ../sass/screen_2.sass */
  #toggle-view .drop {
    position: absolute;
    right: 0px;
    top: 40px;
    color: #f1f1f1;
    font-size: 16px;
    font-weight: bold;
  }
  /* line 261, ../sass/screen_2.sass */
  #toggle-view .drop span {
    padding: 12px;
    background-color: #646464;
  }
  /* line 264, ../sass/screen_2.sass */
  #toggle-view .panel {
    margin: 0;
  }

  /* line 271, ../sass/screen_2.sass */
  .footer {
    margin-top: 100px;
    background-color: #c8191e;
  }
  /* line 275, ../sass/screen_2.sass */
  .footer .logo {
    height: 120px;
    width: 75px;
    float: left;
    margin-top: 40px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  /* line 284, ../sass/screen_2.sass */
  .footer .contact {
    float: right;
    width: 100%;
    max-width: 600px;
    min-width: 260px;
    margin-top: 40px;
    text-align: left;
  }
  /* line 291, ../sass/screen_2.sass */
  .footer .contact p {
    display: inline-block;
    width: 260px;
    padding: 0;
    margin: 0 0 40px 0;
    font-size: 14px;
    line-height: 18px;
    color: white;
  }
  /* line 299, ../sass/screen_2.sass */
  .footer .contact a {
    font-size: 14px;
    line-height: 18px;
    color: white;
  }
  /* line 303, ../sass/screen_2.sass */
  .footer .floor {
    line-height: 22px;
    clear: both;
    width: 100%;
    max-width: 590px;
    text-align: center;
    margin: 4px auto;
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (max-width: 780px) {
  /* line 314, ../sass/screen_2.sass */
  .hero {
    min-height: 580px;
    background-position: bottom;
    background-size: cover;
  }

  /* line 319, ../sass/screen_2.sass */
  .footer {
    margin-top: 100px;
    background-color: #c8191e;
  }
  /* line 323, ../sass/screen_2.sass */
  .footer .contact {
    float: left;
    width: 240px;
    min-width: 240px;
    margin-top: 40px;
    margin-left: 40px;
    text-align: left;
  }
  /* line 330, ../sass/screen_2.sass */
  .footer .contact p {
    display: inline-block;
    width: 280px;
    padding: 0;
    margin: 0 0 40px 0;
    font-size: 14px;
    color: white;
  }
  /* line 337, ../sass/screen_2.sass */
  .footer .contact a {
    font-size: 14px;
    color: white;
  }
}
@media screen and (max-width: 480px) {
  /* line 342, ../sass/screen_2.sass */
  h1 {
    font-size: 20px;
  }

  /* line 344, ../sass/screen_2.sass */
  h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 24px 0 20px 0;
  }

  /* line 348, ../sass/screen_2.sass */
  p, a {
    font-size: 18px;
    line-height: 18px;
  }

  /* line 351, ../sass/screen_2.sass */
  .hero {
    min-height: 300px;
  }
  /* line 353, ../sass/screen_2.sass */
  .hero .intro {
    width: 200px;
    margin-top: 20px;
  }
  /* line 356, ../sass/screen_2.sass */
  .hero .intro h1 {
    font-size: 16px;
    line-height: 16px;
  }
  /* line 359, ../sass/screen_2.sass */
  .hero .intro p {
    font-size: 10px;
    line-height: 12px;
  }
  /* line 362, ../sass/screen_2.sass */
  .hero .logo {
    margin-top: 20px;
  }

  /* line 365, ../sass/screen_2.sass */
  .footer .logo {
    width: 60px;
    height: 100px;
  }
  /* line 368, ../sass/screen_2.sass */
  .footer .contact {
    width: 220px;
  }
  /* line 370, ../sass/screen_2.sass */
  .footer .contact p {
    width: 220px;
    font-size: 12px;
    margin-bottom: 20px;
  }
  /* line 374, ../sass/screen_2.sass */
  .footer .contact a {
    font-size: 12px;
  }
  /* line 376, ../sass/screen_2.sass */
  .footer .floor {
    font-size: 12px;
  }
}
@media screen and (max-width: 410px) {
  /* line 380, ../sass/screen_2.sass */
  p, a {
    font-size: 16px;
    line-height: 22px;
  }

  /* line 383, ../sass/screen_2.sass */
  .hero {
    min-height: 300px;
  }
  /* line 385, ../sass/screen_2.sass */
  .hero .intro {
    width: 200px;
    margin-top: 20px;
  }
  /* line 388, ../sass/screen_2.sass */
  .hero .intro h1 {
    font-size: 16px;
    line-height: 16px;
  }
  /* line 391, ../sass/screen_2.sass */
  .hero .intro p {
    font-size: 10px;
    line-height: 12px;
  }
  /* line 394, ../sass/screen_2.sass */
  .hero .logo {
    width: 45px;
    height: 75px;
    margin-top: 20px;
  }

  /* line 399, ../sass/screen_2.sass */
  .footer .logo {
    width: 75px;
    height: 120px;
  }
  /* line 402, ../sass/screen_2.sass */
  .footer .contact {
    margin: 40px 0 20px 0;
    float: left;
    width: 220px;
    min-width: 280px;
  }
  /* line 407, ../sass/screen_2.sass */
  .footer .contact p {
    width: 220px;
    font-size: 12px;
  }
  /* line 410, ../sass/screen_2.sass */
  .footer .contact a {
    font-size: 12px;
  }
}
