/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.sass */
body {
  background-color: #141414;
  font-family: "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
}

/* line 13, ../sass/screen.sass */
h1, h2, h3, p, ul, li, a {
  font-weight: 300;
  letter-spacing: 1px;
}

/* line 16, ../sass/screen.sass */
a {
  text-decoration: none;
}

/* line 19, ../sass/screen.sass */
p {
  color: #bbbbbb;
}

/* line 105, ../sass/screen.sass */
.view_lg {
  width: 100%;
  max-width: 960px;
}

/* line 111, ../sass/screen.sass */
.view_sm {
  margin: 40px auto;
}

/* line 118, ../sass/screen.sass */
.race_route {
  width: 100%;
  margin: 40px auto;
  max-height: 230px;
}

/* line 125, ../sass/screen.sass */
.global {
  background-image: url(../images/global.png);
}

/* line 127, ../sass/screen.sass */
.facebook {
  background-image: url(../images/facebook.png);
}

/* line 129, ../sass/screen.sass */
.youtube {
  background-image: url(../images/youtube.png);
}

/* line 131, ../sass/screen.sass */
.plus {
  background-image: url(../images/plus.png);
}

/* line 133, ../sass/screen.sass */
.minus {
  background-image: url(../images/minus.png);
}

/* line 135, ../sass/screen.sass */
.sign {
  background-image: url(../images/sign.png);
  height: 95px;
  width: 190px;
  margin-bottom: 48px;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 143, ../sass/screen.sass */
#toggle-bar {
  width: 56px;
  height: 56px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
}
/* line 150, ../sass/screen.sass */
#toggle-bar .toggle-trigger {
  width: 56px;
  height: 56px;
  position: relative;
  top: 0;
  left: 0;
}
/* line 156, ../sass/screen.sass */
#toggle-bar .panel {
  position: absolute;
  top: 64px;
  left: 0;
}
/* line 160, ../sass/screen.sass */
#toggle-bar .global, #toggle-bar .facebook, #toggle-bar .youtube, #toggle-bar .plus, #toggle-bar .minus {
  display: block;
  height: 56px;
  width: 56px;
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 10px;
  background-size: cover;
}

@media screen and (min-width: 960px) {
  /* line 189, ../sass/screen.sass */
  p, a, .more {
    font-size: 20px;
    margin: 0 0 40px 0;
    line-height: 28px;
    text-align: justify;
  }

  /* line 199, ../sass/screen.sass */
  h1 {
    font-size: 36px;
    padding: 20px 40px;
    margin: 0;
    background-color: #c8191e;
    clear: both;
  }

  /* line 207, ../sass/screen.sass */
  h2 {
    font-size: 30px;
    line-height: 30px;
    margin: 40px 0 36px 0;
    color: #c8191e;
  }

  /* line 214, ../sass/screen.sass */
  .date {
    line-height: 1.4;
    color: #0099b7;
    display: inline;
  }

  /* line 218, ../sass/screen.sass */
  .time {
    color: #c8191e;
  }

  /* line 220, ../sass/screen.sass */
  a, .more {
    color: #0099b7;
  }

  /* line 223, ../sass/screen.sass */
  .nav {
    position: fixed;
    z-index: 1;
    bottom: 160px;
    right: 0;
  }
  /* line 228, ../sass/screen.sass */
  .nav .global, .nav .facebook, .nav .youtube {
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 10px;
    background-size: cover;
  }

  /* line 241, ../sass/screen.sass */
  .hide-in-lg {
    display: none;
  }

  /* line 246, ../sass/screen.sass */
  .wrapper {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
  }

  /* line 253, ../sass/screen.sass */
  br {
    clear: both;
  }

  /* line 256, ../sass/screen.sass */
  .area {
    width: 100% -80px;
    padding: 0 40px;
  }

  /* line 263, ../sass/screen.sass */
  .bisection {
    display: inline-block;
    max-width: 47%;
    vertical-align: top;
    text-align: justify;
  }

  /* line 269, ../sass/screen.sass */
  .bi_margin {
    display: inline-block;
    width: 5%;
  }

  /* line 278, ../sass/screen.sass */
  .performance {
    display: inline-block;
    width: auto;
    margin: 60px 0;
  }
  /* line 285, ../sass/screen.sass */
  .performance td {
    padding: 8px 16px;
    height: 54px;
  }
  /* line 289, ../sass/screen.sass */
  .performance h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  /* line 294, ../sass/screen.sass */
  .performance h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  /* line 300, ../sass/screen.sass */
  .table_margin {
    display: inline-block;
    width: 50px;
  }

  /* line 304, ../sass/screen.sass */
  .time_table {
    display: block;
    width: auto;
    margin: 0 0 60px 0;
    color: #bbbbbb;
  }
  /* line 309, ../sass/screen.sass */
  .time_table td {
    font-size: 16px;
    width: 36px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
  }
  /* line 315, ../sass/screen.sass */
  .time_table td .grayball, .time_table td .redball {
    border-radius: 50%;
    width: 16px;
    line-height: 16px;
    padding: 4px;
    display: block;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
  }
  /* line 325, ../sass/screen.sass */
  .time_table td .grayball {
    background-color: #a6a6a6;
    color: #646464;
  }
  /* line 328, ../sass/screen.sass */
  .time_table td .redball {
    background-color: #cf1829;
  }
  /* line 330, ../sass/screen.sass */
  .time_table h3 {
    font-size: 22px;
    margin: 0;
    padding: 0;
  }

  /* line 334, ../sass/screen.sass */
  .hero {
    background-image: url(../images/hero_3.jpg);
    min-height: 860px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }
  /* line 340, ../sass/screen.sass */
  .hero .intro {
    width: 400px;
    float: right;
    margin: 60px 0 0 0;
  }
  /* line 344, ../sass/screen.sass */
  .hero .intro h1, .hero .intro p {
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: inherit;
    color: #c8191e;
    margin-bottom: 10px;
    clear: both;
    border: none;
    text-align: left;
  }
  /* line 354, ../sass/screen.sass */
  .hero .intro h1 {
    font-size: 35px;
    color: #c8191e;
    line-height: 35px;
    letter-spacing: 2px;
  }
  /* line 359, ../sass/screen.sass */
  .hero .intro p {
    font-size: 18px;
    color: white;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 1px;
  }
  /* line 365, ../sass/screen.sass */
  .hero .logo {
    height: 150px;
    width: 95px;
    float: left;
    margin-top: 60px;
    margin-left: 16px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* line 378, ../sass/screen.sass */
  .footer {
    margin: 0 auto;
    max-width: 960px;
    background-color: #c8191e;
  }
  /* line 382, ../sass/screen.sass */
  .footer .logo {
    height: 200px;
    width: 128px;
    float: left;
    margin-top: 40px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  /* line 391, ../sass/screen.sass */
  .footer .contact {
    float: right;
    width: 620px;
    margin-top: 40px;
  }
  /* line 395, ../sass/screen.sass */
  .footer .contact p {
    display: inline-block;
    line-height: 22px;
    width: 300px;
    padding: 0;
    margin: 0 0 40px 0;
    font-size: 16px;
    color: white;
  }
  /* line 403, ../sass/screen.sass */
  .footer .contact a {
    font-size: 16px;
    line-height: 22px;
    color: white;
  }
  /* line 407, ../sass/screen.sass */
  .footer .floor {
    width: 620px;
    float: right;
    text-align: left;
    margin: 0 0 30px 0;
  }
}
