/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
h1, h2, h3, p, ul, li, a {
  font-weight: 300;
}

/* line 11, ../sass/screen.scss */
p {
  font-size: 16px;
  line-height: 1.4;
  color: #bbbbbb;
}

/* line 18, ../sass/screen.scss */
.hero h1, .hero p {
  color: #c8191e;
}

/* line 24, ../sass/screen.scss */
#toggle-view h1 {
  font-size: 24px;
  padding: 20px 40px;
  margin: 0;
  background-color: #c8191e;
  border-top: 2px solid #fa3c32;
  border-bottom: 2px solid #97281e;
}
/* line 32, ../sass/screen.scss */
#toggle-view h2 {
  font-size: 24px;
  margin: 24px 0 20px 0;
  color: #c8191e;
}
/* line 37, ../sass/screen.scss */
#toggle-view p {
  margin: 20px 0;
  line-height: 1.6;
  text-align: justify;
}
/* line 42, ../sass/screen.scss */
#toggle-view a, #toggle-view .more, #toggle-view .date {
  font-size: 16px;
  line-height: 1.4;
  color: #0099b7;
  display: inline;
}
/* line 48, ../sass/screen.scss */
#toggle-view .time {
  color: #c8191e;
}

/* line 54, ../sass/screen.scss */
body {
  background-color: #141414;
  font-family: "微軟正黑體", "Microsoft JhengHei", "times new roman", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
}
/* line 58, ../sass/screen.scss */
body li h1 {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 63, ../sass/screen.scss */
.drop img {
  height: 40px;
  margin: 14px;
}

@media screen and (min-width: 960px) {
  /* line 82, ../sass/screen.scss */
  .wrapper {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
  }

  /* line 88, ../sass/screen.scss */
  br {
    clear: both;
  }

  /* line 92, ../sass/screen.scss */
  .area {
    width: 100% -80px;
    padding: 0 40px;
  }

  /* line 96, ../sass/screen.scss */
  .bisection {
    display: inline-block;
    max-width: 420px;
    width: 100%;
    vertical-align: top;
    text-align: justify;
  }

  /* line 103, ../sass/screen.scss */
  .bi_margin {
    display: inline-block;
    width: 34px;
  }

  /* line 107, ../sass/screen.scss */
  .performance {
    display: inline-block;
    width: auto;
    margin: 40px 0;
  }
  /* line 114, ../sass/screen.scss */
  .performance td {
    padding: 8px 16px;
    height: 54px;
  }
  /* line 118, ../sass/screen.scss */
  .performance h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  /* line 123, ../sass/screen.scss */
  .performance h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  /* line 129, ../sass/screen.scss */
  .table_margin {
    display: inline-block;
    width: 60px;
  }

  /* line 134, ../sass/screen.scss */
  .time_table {
    display: block;
    width: auto;
    margin: 20px 0;
    color: #bbbbbb;
  }
  /* line 143, ../sass/screen.scss */
  .time_table td {
    padding: 8px;
    background-repeat: no-repeat;
    background-position: 45% 30%;
    text-align: center;
    vertical-align: middle;
  }
  /* line 150, ../sass/screen.scss */
  .time_table h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  /* line 155, ../sass/screen.scss */
  .time_table h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  /* line 160, ../sass/screen.scss */
  .time_table .grayball {
    background-image: url(../images/grayball.png);
    color: #59596e;
  }
  /* line 164, ../sass/screen.scss */
  .time_table .redball {
    background-image: url(../images/redball.png);
  }

  /* line 168, ../sass/screen.scss */
  .hero {
    background-image: url(../images/hero_2.png);
    min-height: 800px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
  /* line 175, ../sass/screen.scss */
  .hero .nav {
    float: left;
    margin-top: 20px;
  }
  /* line 179, ../sass/screen.scss */
  .hero ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    color: #c8191e;
  }
  /* line 185, ../sass/screen.scss */
  .hero .browser {
    float: right;
  }
  /* line 188, ../sass/screen.scss */
  .hero .intro {
    width: 240px;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
  }
  /* line 193, ../sass/screen.scss */
  .hero .intro h1 {
    font-size: 26px;
    margin: 0;
    color: #c8191e;
    margin-bottom: 10px;
  }
  /* line 200, ../sass/screen.scss */
  .hero .logo {
    height: 120px;
    width: 75px;
    float: left;
    margin-top: 30px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* line 213, ../sass/screen.scss */
  .welcome .sign {
    background-image: url(../images/sign.png);
    height: 95px;
    width: 190px;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* line 220, ../sass/screen.scss */
  .welcome p {
    margin: 40px 0;
    line-height: 1.8;
  }

  /* line 226, ../sass/screen.scss */
  #toggle-view {
    list-style: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
  /* line 231, ../sass/screen.scss */
  #toggle-view li {
    margin: 0px;
    position: relative;
    cursor: pointer;
  }
  /* line 236, ../sass/screen.scss */
  #toggle-view .drop {
    position: absolute;
    right: 5px;
    top: 0;
    color: #ccc;
    font-size: 13px;
  }
  /* line 243, ../sass/screen.scss */
  #toggle-view .panel {
    margin: 0;
    display: none;
  }
  /* line 247, ../sass/screen.scss */
  #toggle-view .view_lg {
    width: 100%;
    max-width: 960px;
  }
  /* line 252, ../sass/screen.scss */
  #toggle-view .view_sm {
    margin: 20px auto;
  }

  /* line 263, ../sass/screen.scss */
  .footer {
    font-size: 12px;
    max-width: 960px;
    background-color: #c8191e;
  }
  /* line 267, ../sass/screen.scss */
  .footer .logo {
    height: 200px;
    width: 128px;
    float: left;
    margin-top: 40px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  /* line 277, ../sass/screen.scss */
  .footer nav {
    width: 320px;
    float: right;
    margin: 30px 124px 20px 0;
    color: #323232;
  }
  /* line 284, ../sass/screen.scss */
  .footer nav ul li {
    display: inline-block;
    margin: 0 4px;
  }
  /* line 289, ../sass/screen.scss */
  .footer .contact {
    float: right;
    width: 420px;
    margin-right: 20px;
  }
  /* line 293, ../sass/screen.scss */
  .footer .contact .info {
    display: inline-block;
    width: 200px;
    height: 60px;
    padding: 10px 0;
    line-height: 1.8;
    letter-spacing: 0.5;
  }
  /* line 302, ../sass/screen.scss */
  .footer .floor {
    width: 440px;
    float: right;
    text-align: left;
    margin: 20px 0 30px 0;
    color: #323232;
  }
}
@media screen and (min-width: 640px) and (max-width: 960px) {
  /* line 335, ../sass/screen.scss */
  .wrapper {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
  }

  /* line 341, ../sass/screen.scss */
  br {
    clear: both;
  }

  /* line 345, ../sass/screen.scss */
  .area {
    width: 100% -80px;
    padding: 0 40px;
  }

  /* line 349, ../sass/screen.scss */
  .bisection {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align: justify;
  }

  /* line 356, ../sass/screen.scss */
  .bi_margin {
    display: none;
  }

  /* line 359, ../sass/screen.scss */
  .performance {
    display: inline-block;
    width: auto;
    margin: 40px 0;
  }
  /* line 366, ../sass/screen.scss */
  .performance td {
    padding: 8px 16px;
    height: 54px;
  }
  /* line 370, ../sass/screen.scss */
  .performance h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  /* line 375, ../sass/screen.scss */
  .performance h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  /* line 381, ../sass/screen.scss */
  .table_margin {
    display: none;
  }

  /* line 385, ../sass/screen.scss */
  .time_table {
    display: block;
    width: auto;
    margin: 20px 0;
    color: #bbbbbb;
  }
  /* line 394, ../sass/screen.scss */
  .time_table td {
    padding: 8px;
    background-repeat: no-repeat;
    background-position: 45% 30%;
    text-align: center;
    vertical-align: middle;
  }
  /* line 401, ../sass/screen.scss */
  .time_table h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  /* line 406, ../sass/screen.scss */
  .time_table h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  /* line 411, ../sass/screen.scss */
  .time_table .grayball {
    background-image: url(../images/grayball.png);
    color: #59596e;
  }
  /* line 415, ../sass/screen.scss */
  .time_table .redball {
    background-image: url(../images/redball.png);
  }

  /* line 419, ../sass/screen.scss */
  .hero {
    background-image: url(../images/hero_2.png);
    min-height: 760px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
  /* line 426, ../sass/screen.scss */
  .hero .nav {
    float: left;
    margin-top: 20px;
  }
  /* line 430, ../sass/screen.scss */
  .hero ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    color: #c8191e;
  }
  /* line 436, ../sass/screen.scss */
  .hero .browser {
    float: right;
  }
  /* line 439, ../sass/screen.scss */
  .hero .intro {
    width: 240px;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
  }
  /* line 444, ../sass/screen.scss */
  .hero .intro h1 {
    font-size: 26px;
    margin: 0;
    color: #c8191e;
    margin-bottom: 10px;
  }
  /* line 451, ../sass/screen.scss */
  .hero .logo {
    height: 120px;
    width: 75px;
    float: left;
    margin-top: 30px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* line 464, ../sass/screen.scss */
  .welcome .sign {
    background-image: url(../images/sign.png);
    height: 95px;
    width: 190px;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* line 471, ../sass/screen.scss */
  .welcome p {
    margin: 40px 0;
    line-height: 1.8;
  }

  /* line 477, ../sass/screen.scss */
  #toggle-view {
    list-style: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
  /* line 482, ../sass/screen.scss */
  #toggle-view li {
    margin: 0px;
    position: relative;
    cursor: pointer;
  }
  /* line 487, ../sass/screen.scss */
  #toggle-view .drop {
    position: absolute;
    right: 5px;
    top: 0;
    color: #ccc;
    font-size: 13px;
  }
  /* line 494, ../sass/screen.scss */
  #toggle-view .panel {
    margin: 0;
    display: none;
  }
  /* line 498, ../sass/screen.scss */
  #toggle-view .view_lg {
    width: 100%;
    max-width: 960px;
  }
  /* line 503, ../sass/screen.scss */
  #toggle-view .view_sm {
    width: 100%;
  }

  /* line 514, ../sass/screen.scss */
  .footer {
    font-size: 12px;
    max-width: 960px;
    background-color: #c8191e;
  }
  /* line 518, ../sass/screen.scss */
  .footer .logo {
    height: 180px;
    width: 108px;
    float: left;
    margin-top: 60px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  /* line 528, ../sass/screen.scss */
  .footer nav {
    width: 320px;
    float: right;
    margin: 30px 104px 20px 0;
    color: #323232;
  }
  /* line 535, ../sass/screen.scss */
  .footer nav ul li {
    display: inline-block;
    margin: 0 4px;
  }
  /* line 540, ../sass/screen.scss */
  .footer .contact {
    float: right;
    width: 420px;
  }
  /* line 544, ../sass/screen.scss */
  .footer .contact .info {
    display: inline-block;
    width: 200px;
    height: 60px;
    padding: 10px 0;
    line-height: 1.8;
    letter-spacing: 0.5;
  }
  /* line 553, ../sass/screen.scss */
  .footer .floor {
    width: 420px;
    float: right;
    text-align: left;
    margin: 20px 0 30px 0;
    color: #323232;
  }
}
@media screen and (max-width: 640px) {
  /* line 591, ../sass/screen.scss */
  .wrapper {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
  }

  /* line 597, ../sass/screen.scss */
  br {
    clear: both;
  }

  /* line 601, ../sass/screen.scss */
  .area {
    width: 100% -40px;
    padding: 0 20px;
  }

  /* line 605, ../sass/screen.scss */
  .bisection {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align: justify;
  }

  /* line 612, ../sass/screen.scss */
  .bi_margin {
    display: none;
  }

  /* line 615, ../sass/screen.scss */
  .performance {
    display: inline-block;
    width: auto;
    margin: 40px 0;
  }
  /* line 622, ../sass/screen.scss */
  .performance td {
    padding: 8px 16px;
    height: 54px;
  }
  /* line 626, ../sass/screen.scss */
  .performance h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  /* line 631, ../sass/screen.scss */
  .performance h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  /* line 637, ../sass/screen.scss */
  .table_margin {
    display: none;
  }

  /* line 641, ../sass/screen.scss */
  .time_table {
    display: block;
    width: auto;
    margin: 40px 0;
    color: #bbbbbb;
  }
  /* line 650, ../sass/screen.scss */
  .time_table td {
    padding: 8px;
    background-repeat: no-repeat;
    background-position: 45% 30%;
    text-align: center;
    vertical-align: middle;
  }
  /* line 657, ../sass/screen.scss */
  .time_table h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  /* line 662, ../sass/screen.scss */
  .time_table h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  /* line 667, ../sass/screen.scss */
  .time_table .grayball {
    background-image: url(../images/grayball.png);
    color: #59596e;
  }
  /* line 671, ../sass/screen.scss */
  .time_table .redball {
    background-image: url(../images/redball.png);
  }

  /* line 675, ../sass/screen.scss */
  .hero {
    background-image: url(../images/hero_2.png);
    min-height: 460px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
  /* line 682, ../sass/screen.scss */
  .hero .nav {
    float: left;
    margin-top: 20px;
  }
  /* line 686, ../sass/screen.scss */
  .hero ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    color: #c8191e;
  }
  /* line 692, ../sass/screen.scss */
  .hero .browser {
    float: right;
  }
  /* line 695, ../sass/screen.scss */
  .hero .intro {
    width: 100%;
    padding: 0px;
    margin-top: 10px;
  }
  /* line 700, ../sass/screen.scss */
  .hero .intro h1 {
    font-size: 26px;
    margin: 0;
    color: #c8191e;
    margin-bottom: 10px;
  }
  /* line 707, ../sass/screen.scss */
  .hero .logo {
    height: 120px;
    width: 75px;
    float: left;
    margin-top: 10px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* line 720, ../sass/screen.scss */
  .welcome .sign {
    background-image: url(../images/sign.png);
    height: 95px;
    width: 190px;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* line 727, ../sass/screen.scss */
  .welcome p {
    margin: 40px 0;
    line-height: 1.8;
  }

  /* line 733, ../sass/screen.scss */
  #toggle-view {
    list-style: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
  /* line 738, ../sass/screen.scss */
  #toggle-view li {
    margin: 0px;
    position: relative;
    cursor: pointer;
  }
  /* line 743, ../sass/screen.scss */
  #toggle-view .drop {
    position: absolute;
    right: 5px;
    top: 0;
    color: #ccc;
    font-size: 13px;
  }
  /* line 750, ../sass/screen.scss */
  #toggle-view .panel {
    margin: 0;
    display: none;
  }
  /* line 754, ../sass/screen.scss */
  #toggle-view .view_lg {
    width: 100%;
    max-width: 960px;
  }
  /* line 759, ../sass/screen.scss */
  #toggle-view .view_sm {
    width: 100%;
  }

  /* line 768, ../sass/screen.scss */
  .footer {
    font-size: 12px;
    max-width: 960px;
    background-color: #c8191e;
  }
  /* line 772, ../sass/screen.scss */
  .footer .logo {
    display: none;
  }
  /* line 775, ../sass/screen.scss */
  .footer nav {
    width: 100%;
    padding: 30px 0;
    color: #323232;
  }
  /* line 779, ../sass/screen.scss */
  .footer nav ul li {
    display: inline-block;
    margin: 0 2px;
    font-size: 14px;
  }
  /* line 785, ../sass/screen.scss */
  .footer .contact {
    float: 100%;
    width: 100%;
  }
  /* line 789, ../sass/screen.scss */
  .footer .contact .info {
    font-size: 14px;
    margin: 0 3% 0 0;
    height: 60px;
    padding: 20px 0;
    line-height: 1.6;
    letter-spacing: 0.5;
  }
  /* line 800, ../sass/screen.scss */
  .footer .floor {
    width: 240px;
    text-align: center;
    margin: 20px auto;
    color: #323232;
    line-height: 1.4;
  }
}
