@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

a {
  color: red; }
  a:hover {
    color: black; }

/* line 24, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 28, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }

/* line 103, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 116, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
  clear: both; }

/* line 8, ../sass/screen.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  height: auto;
  font-family: "Times New Roman","新細明體",Serif;
  line-height: 1.3; }

body {
  background-image: url("../image/bg.png");
  background-repeat: repeat; }

h1 {
  font-size: 24px;
  color: #E6280F;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: 1.1px; }

h2 {
  font-size: 16px;
  color: #E6280F;
  font-weight: 100;
  line-height: 1.2; }

p {
  font-size: 16px;
  color: #E6E6E6;
  font-weight: 100;
  line-height: 1.8;
  letter-spacing: 0.8px;
  text-align: left; }

a {
  font-size: 14px;
  color: #E6280F;
  font-weight: 100; }

#wrapper {
  margin: 0 auto;
  padding: 0;
  height: auto;
  width: 100%; }

#container {
  margin: 0 auto;
  height: auto;
  min-height: auto; }

.seperate_tag {
  z-index: 10;
  position: absolute; }
  .seperate_tag .seperate_box {
    height: 60px;
    width: auto;
    padding-left: 40px;
    padding-right: 20px;
    background-color: #E6280F;
    float: left; }
    .seperate_tag .seperate_box h1 {
      color: #FFFFFF;
      margin-top: 15px; }
  .seperate_tag .seperate_triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 30px 0 30px 30px;
    border-color: transparent transparent transparent #E6280F;
    line-height: 0px;
    _border-color: #000000 #000000 #000000 #E6280F;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    float: left; }

.seperate_01 {
  bottom: -274px; }

.seperate_02 {
  bottom: -1112px; }

.seperate_03 {
  bottom: -1814px; }

/*section_01*/
.section_01 {
  height: 980px;
  padding: 20px 40px 0 40px;
  width: 880px;
  margin: 0 auto; }
  .section_01 ul, .section_01 li {
    display: inline-block;
    text-decoration: none;
    margin-right: 15px;
    color: #E6280F; }
    .section_01 ul a, .section_01 li a {
      text-decoration: none; }
  .section_01 #edm_info {
    float: right;
    color: #E6280F;
    width: 270px;
    height: 200px;
    margin: 0; }
    .section_01 #edm_info a {
      color: #038bcc;
      text-decoration: underline; }
  .section_01 img {
    display: block;
    width: auto;
    height: 95px;
    margin-top: 40px; }
  .section_01 .hello {
    /*background-color: rgba(255,255,255,0.8);*/
    width: 880px;
    height: 600px;
    margin-top: 85px;
    color: white;
    text-align: justify;
    font-weight: lighter; }
    .section_01 .hello img {
      display: block;
      margin: 30px 0 30px 0; }

/*section_02*/
.section_02 {
  border-top: solid #E6280F 2px;
  height: 676px;
  padding: 80px 0; }
  .section_02 .container {
    padding: 0px 40px;
    width: 880px;
    margin: 0 auto; }
    .section_02 .container img {
      width: 880px;
      height: 480px;
      margin: 0 auto 40px auto;
      clear: both; }
    .section_02 .container h1 {
      display: block;
      float: left;
      width: 160px;
      height: 160px;
      font-weight: 300;
      color: #f80000; }
    .section_02 .container p, .section_02 .container a {
      display: block;
      float: right;
      width: 600px;
      height: auto;
      color: white; }
    .section_02 .container a {
      color: #038bcc;
      font-size: 16px; }

/*section_03*/
.section_03 {
  border-top: solid #E6280F 2px;
  height: 540px;
  padding: 80px 0; }
  .section_03 .container {
    padding: 0px 40px;
    width: 880px;
    margin: 0 auto; }
    .section_03 .container .img_box {
      float: left;
      width: 440px;
      margin: 0 0 0 0; }
    .section_03 .container h1 {
      float: right;
      display: block;
      width: 440px;
      height: auto;
      color: #f80000;
      margin: 0 0 40px 0; }
    .section_03 .container p {
      float: right;
      display: block;
      color: white;
      width: 440px;
      margin-bottom: 20px; }
    .section_03 .container a {
      color: #038bcc;
      font-size: 16px; }

/*section_04*/
.section_04 {
  height: 1500px;
  border-top: solid #E6280F 2px;
  padding: 40px 0; }
  .section_04 .container {
    width: 880px;
    height: 780px;
    margin: 40px auto 0 auto; }
    .section_04 .container .event_box_upper {
      width: 884px;
      height: 680px;
      clear: both; }
      .section_04 .container .event_box_upper img {
        width: 440px;
        height: auto;
        margin: 0 auto; }
      .section_04 .container .event_box_upper h1 {
        width: 425px;
        height: 60px;
        margin: 40px 0;
        color: #E6280F; }
      .section_04 .container .event_box_upper p {
        display: block;
        color: white;
        width: 400px;
        padding-right: 40px;
        float: left; }
      .section_04 .container .event_box_upper .push {
        text-indent: 84px; }
    .section_04 .container .event_box_lower {
      width: 400px;
      padding-right: 40px;
      height: 580px;
      float: left; }
      .section_04 .container .event_box_lower img {
        margin: 0 auto;
        height: 230px;
        display: inline-block; }
      .section_04 .container .event_box_lower h1 {
        width: 400px;
        height: 60px;
        margin: 40px 0;
        color: #E6280F; }
      .section_04 .container .event_box_lower p {
        color: white;
        width: 400px; }
      .section_04 .container .event_box_lower .push {
        text-indent: 50px; }
      .section_04 .container .event_box_lower a {
        color: #038bcc;
        font-size: 16px; }

/*section_05*/
.section_05 {
  height: 258px;
  background-color: #E6280F; }
  .section_05 .footer {
    width: 880px;
    margin: 0 auto; }
  .section_05 img {
    display: block;
    float: left;
    width: 110px;
    margin-top: 40px; }
  .section_05 .right {
    float: right;
    width: 440px;
    height: 240px; }
  .section_05 ul, .section_05 li {
    display: inline-block;
    text-decoration: none;
    margin: 10px 15px 10px 0; }
    .section_05 ul a, .section_05 li a {
      display: block;
      text-decoration: none;
      color: #323232;
      font-size: 16px; }
  .section_05 .contact {
    width: 220px;
    height: auto;
    float: left;
    margin: 10px 0 0 0; }
    .section_05 .contact p {
      color: #FFFFFF;
      font-size: 12px;
      line-height: 1.5; }
  .section_05 .copyright {
    float: left;
    display: block;
    margin-top: 20px; }
    .section_05 .copyright p {
      color: #323232;
      font-size: 12px;
      width: 435px;
      text-align: justify; }
