/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.sass */
body {
  background-color: #141414;
  font-family: "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
}

/* line 13, ../sass/screen.sass */
h1, h2, h3, p, ul, li, a {
  font-weight: 300;
  letter-spacing: 1px;
}

/* line 16, ../sass/screen.sass */
a {
  text-decoration: none;
}

/* line 19, ../sass/screen.sass */
p {
  color: #bbbbbb;
}

/* line 22, ../sass/screen.sass */
.name {
  display: inline-block;
}

/* line 24, ../sass/screen.sass */
.fa {
  font-size: 30px;
  display: none;
  margin-top: -4px;
  margin-right: 12px;
  vertical-align: middle;
}

/* line 30, ../sass/screen.sass */
.yellow {
  color: #fff12d;
}

/* line 37, ../sass/screen.sass */
.combine {
  width: 50%;
  height: auto;
  float: left;
}

/* line 115, ../sass/screen.sass */
.view_lg {
  width: 100%;
  max-width: 960px;
  margin-bottom: 40px;
}

/* line 122, ../sass/screen.sass */
.view_sm {
  margin: 40px auto;
}

/* line 129, ../sass/screen.sass */
.right_jpg {
  width: 100%;
  margin: 0;
}

/* line 135, ../sass/screen.sass */
.global {
  background-image: url(http://ferraritaiwan-enews.com/edm05/images/global.png);
}

/* line 137, ../sass/screen.sass */
.facebook {
  background-image: url(http://ferraritaiwan-enews.com/edm05/images/facebook.png);
}

/* line 139, ../sass/screen.sass */
.youtube {
  background-image: url(http://ferraritaiwan-enews.com/edm05/images/youtube.png);
}

/* line 141, ../sass/screen.sass */
.plus {
  background-image: url(http://ferraritaiwan-enews.com/edm05/images/trigger.png);
}

/* line 143, ../sass/screen.sass */
.minus {
  background-image: url(http://ferraritaiwan-enews.com/edm05/images/x.png);
}

/* line 145, ../sass/screen.sass */
.sign {
  background-image: url(http://ferraritaiwan-enews.com/edm05/images/sign.png);
  height: 95px;
  width: 190px;
  margin-bottom: 48px;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 153, ../sass/screen.sass */
#toggle-bar {
  width: 56px;
  height: 56px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
}
/* line 160, ../sass/screen.sass */
#toggle-bar .toggle-trigger {
  width: 56px;
  height: 56px;
  position: relative;
  top: 0;
  left: 0;
}
/* line 166, ../sass/screen.sass */
#toggle-bar .panel {
  position: absolute;
  top: 64px;
  left: 0;
}
/* line 170, ../sass/screen.sass */
#toggle-bar .global, #toggle-bar .facebook, #toggle-bar .youtube, #toggle-bar .plus, #toggle-bar .minus {
  display: block;
  height: 56px;
  width: 56px;
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 10px;
  background-size: cover;
}

@media screen and (min-width: 960px) {
  /* line 199, ../sass/screen.sass */
  p, a, .more {
    font-size: 20px;
    margin: 0 0 40px 0;
    line-height: 28px;
    text-align: left;
  }

  /* line 209, ../sass/screen.sass */
  h1 {
    font-size: 36px;
    padding: 20px 40px;
    margin: 0;
    background-color: #e73124;
    clear: both;
  }

  /* line 217, ../sass/screen.sass */
  h2 {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 36px 0;
    color: #e73124;
    letter-spacing: 0.5px;
  }

  /* line 225, ../sass/screen.sass */
  .date {
    line-height: 1.4;
    color: #0099b7;
    display: inline;
  }

  /* line 229, ../sass/screen.sass */
  .time {
    color: #e73124;
  }

  /* line 231, ../sass/screen.sass */
  a, .more {
    color: #0099b7;
  }

  /* line 234, ../sass/screen.sass */
  .nav {
    position: fixed;
    z-index: 1;
    bottom: 160px;
    right: 0;
  }
  /* line 239, ../sass/screen.sass */
  .nav .global, .nav .facebook, .nav .youtube {
    display: block;
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 10px;
    background-size: cover;
  }

  /* line 253, ../sass/screen.sass */
  .hide-in-lg {
    display: none;
  }

  /* line 258, ../sass/screen.sass */
  .wrapper {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
  }

  /* line 265, ../sass/screen.sass */
  br {
    clear: both;
  }

  /* line 268, ../sass/screen.sass */
  .area {
    width: 100% -120px;
    padding: 0 60px;
  }

  /* line 275, ../sass/screen.sass */
  .bisection {
    display: inline-block;
    max-width: 47%;
    vertical-align: top;
    text-align: justify;
  }

  /* line 281, ../sass/screen.sass */
  .bi_margin {
    display: inline-block;
    width: 5%;
  }

  /* line 290, ../sass/screen.sass */
  .performance {
    display: inline-block;
    width: auto;
    margin: 60px 0;
  }
  /* line 297, ../sass/screen.sass */
  .performance td {
    padding: 8px 16px;
    height: 54px;
  }
  /* line 301, ../sass/screen.sass */
  .performance h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  /* line 306, ../sass/screen.sass */
  .performance h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  /* line 312, ../sass/screen.sass */
  .table_margin {
    display: inline-block;
    width: 50px;
  }

  /* line 316, ../sass/screen.sass */
  .time_table {
    display: block;
    width: auto;
    margin: 0 0 40px 0;
    color: #bbbbbb;
  }
  /* line 321, ../sass/screen.sass */
  .time_table td {
    font-size: 18px;
    width: 48px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
  }
  /* line 327, ../sass/screen.sass */
  .time_table td p {
    margin: 0;
  }
  /* line 329, ../sass/screen.sass */
  .time_table td .grayball, .time_table td .redball {
    border-radius: 50%;
    width: 16px;
    line-height: 16px;
    padding: 6px;
    display: block;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
  }
  /* line 339, ../sass/screen.sass */
  .time_table td .grayball {
    background-color: #a6a6a6;
    color: #646464;
  }
  /* line 342, ../sass/screen.sass */
  .time_table td .redball {
    color: #e6e6e6;
    background-color: #e73124;
  }
  /* line 345, ../sass/screen.sass */
  .time_table h3 {
    font-size: 22px;
    margin: 0;
    padding: 0;
  }

  /* line 349, ../sass/screen.sass */
  .hero {
    background-image: url(http://ferraritaiwan-enews.com/edm06/images/01.jpg);
    min-height: 920px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }
  /* line 355, ../sass/screen.sass */
  .hero .intro {
    width: 400px;
    float: right;
    margin: 60px 0 0 0;
  }
  /* line 359, ../sass/screen.sass */
  .hero .intro h1, .hero .intro p {
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: inherit;
    color: #e73124;
    margin-bottom: 10px;
    clear: both;
    border: none;
    text-align: left;
  }
  /* line 369, ../sass/screen.sass */
  .hero .intro h1 {
    font-size: 35px;
    color: #e73124;
    line-height: 35px;
    letter-spacing: 2px;
  }
  /* line 374, ../sass/screen.sass */
  .hero .intro p {
    font-size: 18px;
    color: white;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 1px;
  }
  /* line 380, ../sass/screen.sass */
  .hero .logo {
    height: 150px;
    width: 95px;
    float: left;
    margin-top: 60px;
    margin-left: 16px;
    background-image: url(http://ferraritaiwan-enews.com/edm05/images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* line 392, ../sass/screen.sass */
  .footer {
    margin: 0 auto;
    max-width: 840px;
    background-color: #e73124;
  }
  /* line 396, ../sass/screen.sass */
  .footer .logo {
    height: 200px;
    width: 128px;
    float: left;
    margin-top: 40px;
    background-image: url(http://ferraritaiwan-enews.com/edm05/images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  /* line 405, ../sass/screen.sass */
  .footer .contact {
    float: right;
    width: 620px;
    margin-top: 40px;
  }
  /* line 409, ../sass/screen.sass */
  .footer .contact p {
    display: inline-block;
    line-height: 22px;
    width: 300px;
    padding: 0;
    margin: 0 0 40px 0;
    font-size: 16px;
    color: white;
  }
  /* line 417, ../sass/screen.sass */
  .footer .contact a {
    font-size: 16px;
    line-height: 22px;
    color: white;
  }
  /* line 421, ../sass/screen.sass */
  .footer .floor {
    width: 620px;
    float: right;
    text-align: left;
    margin: 0 0 30px 0;
  }

  /* line 446, ../sass/screen.sass */
  .iframe {
    height: 560px;
  }
}
